{% extends "layouts/base.html" %}

{% block title %}
  Forgot Password
{% endblock title %}

{% block unLoginContent %}
  <div class="auth-body">
    <div class="modal" id="forgotPasswordForm">
      <div class="flex flex-col gap-5 p-6">
        {# form title #}
        <div class="text-headline-md">Forgot Password</div>

        {# form #}
        <form action="" method="POST" class="flex flex-col gap-4">
          {# csrf token #}
          {{ form.csrf_token }}

          {# email field #}
          <div class="flex flex-col gap-2">
            <div class="form-control">
              {{
                form.email.label(
                class_='text-title-md'
                )
              }}
              {{
                form.email(
                class_='w-100 px-4 py-2 ml-3',
                placeholder='@email.mmu.edu.my'
                )
              }}
            </div>
            {% if form.email.errors %}
              {% for error in form.email.errors %}
                <div class="mb-2 text-label-lg error-message">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="divider mb-2"></div>

          <footer>
            <div class="flex flex-col gap-3">
              <button type="submit" class="w-100 btn">
                Send email verification
              </button>
              <p class="text-center ">
                Return to
                <a href="{{ url_for('user.sign_in') }}" class="link text-active"
                  >Sign in</a
                >
              </p>
            </div>
          </footer>
        </form>
      </div>
    </div>
  </div>
{% endblock unLoginContent %}
