{% extends "layouts/base.html" %}

{% block title %}
  Reset Password
{% endblock title %}

{% block unLoginContent %}
  <div class="auth-body">
    <div class="modal" id="resetPasswordForm">
      <div class="flex flex-col gap-5 p-6">
        {# form title #}
        <div class="text-headline-md">Reset Password</div>

        {# form #}
        <form action="" method="POST" class="flex flex-col gap-4">
          {# csrf token #}
          {{ form.csrf_token }}

          {# password field #}
          <div class="flex flex-col gap-2">
            <div class="form-control">
              {{
                form.password.label(
                class_='text-title-md'
                )
              }}
              {{
                form.password(
                class_='w-100 px-4 py-2 ml-3',
                placeholder='password'
                )
              }}
            </div>
            {% if form.password.errors %}
              {% for error in form.password.errors %}
                <div class="mb-2 text-label-lg error-message">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>

          {# confirm field #}
          <div class="flex flex-col gap-2">
            <div class="form-control">
              {{
                form.confirm.label(
                class_='text-title-md'
                )
              }}
              {{
                form.confirm(
                class_='w-100 px-4 py-2 ml-3',
                placeholder='confirm password'
                )
              }}
            </div>
            {% if form.confirm.errors %}
              {% for error in form.confirm.errors %}
                <div class="mb-2 text-label-lg error-message">{{ error }}</div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="divider mb-2"></div>

          <footer>
            <div class="flex flex-col gap-3">
              <button type="submit" class="w-100 btn">Reset</button>
            </div>
          </footer>
        </form>
      </div>
    </div>
  </div>
{% endblock unLoginContent %}
