<div
  class="flex flex-col comment-container"
  id="comment-${comment_id}"
  data-commentLevel="${commentLevel}"
  data-current-user-id="${user_id}"
>
  <div class="flex pb-5 ">
    <div class="avatar-container ">
      {% with avatar_url = comment.commentCreator.avatar_url, owner = comment.commentCreator %}
        {% include "layouts/avatar.html" %}
      {% endwith %}
    </div>
    <div class="ml-2 flex flex-col">
      <div class="text-body-md comment">
        <div class="flex flex-between comment-header">
          <div class="text-label-lg mb-2 user-interaction-container">
            Anonymous_${comment_user_anon_no}
            <a
              href="${post_url}#comment-${replied_comment_id}"
              class="link user-interaction-container__reply"
            >
              reply to
              <span class="replied-user"
                >Anonymous_${replied_comment_user_anon_no}</span
              ></a
            >
          </div>
          <div class="text-label-md ml-2 flex comment-react-container">
            <div class="d-none">
              <span id="like-count-${comment_id}">0</span>
              <span>like</span>
            </div>
            <div class="d-none">
              <span id="reply-count-${comment.id}">0</span><span> reply</span>
            </div>
            <span
              class="link report-button"
              data-is-reported="${comment.isReported}"
              >Report</span
            >
          </div>
        </div>

        {# todo: use line break #}
        <div class="reply">${content}</div>
      </div>
      <div class="mt-2 ml-1 flex comment-info">
        <div class="date">just now</div>
        <div
          class="link text-label-sm comment-like
        {{ 'text-active' if comment.isLikedByUser else '' }}
        "
          data-is-comment-liked-by-user="{{ comment.isLikedByUser }}"
        >
          Like
        </div>
        <div
          class="link text-label-sm comment-reply
        {{ 'text-active' if comment.isRepliedByUser else '' }}
        "
          data-is-comment-replied-by-user="{{ comment.isRepliedByUser }}"
        >
          Reply
        </div>
        {% if user.id == comment.commentCreator.id %}
          {% if not comment.replies %}
            <div class="link text-label-sm comment-edit">Edit</div>
          {% endif %}
          {% if not comment.replies %}
            <div class="link text-label-sm comment-delete">Delete</div>
          {% endif %}
        {% endif %}
        <div class="link text-label-sm edit-comment__save-button d-none">
          Save
        </div>
        <div class="link text-label-sm edit-comment__cancel-button d-none">
          Cancel
        </div>
      </div>
    </div>
  </div>
  <div class="reserve-elements d-none">
    {# create reply form element #}
    <div class="flex flex-col mb-5 reserve-element comment-form ">
      {% include "layouts/commentForm.html" %}
      <div class="link text-label-sm cancel-button ml-14">Cancel</div>
    </div>
  </div>
</div>

{% if comment.replies %}
  {% for reply in comment.replies %}
    <div class="flex flex-col comment-group-container">
      {% with comment=reply, repliedUser = comment.commentCreator, repliedCommentId = comment.id %}
        {% include "layouts/comment.html" %}
      {% endwith %}
    </div>
  {% endfor %}
  {% if post.isPreview and comment.replies|length > 3 %}
    <div class="ml-2 flex view-more-reply">
      <img
        src="{{ url_for('static', filename = 'svg/arrow-right.svg') }}"
        alt="arrow-right"
      />
      <a
        href="{{ url_for('post.get_post', post_id = post.id) }}"
        class="link text-label-lg"
        >View more replies</a
      >
    </div>
  {% endif %}
{% endif %}
