<div class="navbar">
  <div class="flex flex-between container">
    <a href="/"
      ><img
        src="{{ url_for('static', filename = 'img/mmu-logo.png') }}"
        alt="MMU Logo"
        class="logo"
    /></a>

    <div class="flex flex-center text-body-lg mid-col">
      <nav>
        <ul class="flex flex-center">
          <li><a class="link" href="/">Home</a></li>
          <li><a class="link" href="/">Notifications</a></li>
        </ul>
      </nav>

      {# search bar #}
      <form action="/search" method="GET" class=" search-bar">
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search"
          class="search-bar-input"
        />
        <button type="submit" class="flex flex-center">
          <img
            src="{{ url_for('static', filename = 'svg/search.svg') }}"
            alt="search-icon"
            class="icon"
          />
        </button>
      </form>
    </div>

    {# user profile pop up modal using dialog html tag #}
    <div class="open-button">
      <img
        src="{{ url_for('static', filename = 'img/default-avatar.png') }}"
        alt="avatar"
        class="avatar"
      />
    </div>
  </div>

  <dialog class="modal" id="userProfileModal">
    <div class="flex flex-col">
      <div class="flex flex-col user-profile-container">
        <a href="/">
          <img
            src="{{ url_for('static', filename = 'img/default-avatar.png') }}"
            alt="avatar"
            class="avatar"
          />
          <div class="flex flex-between user-profile-info">
            <div class="text-label-lg">Anonymous_2331</div>
            <img
              src="{{ url_for('static', filename='svg/chevron-right.svg') }}"
              alt="chevron-right"
            />
          </div>
        </a>
      </div>
      <ul class="flex flex-col text-body-md navigation-container">
        <li class="flex">
          <img
            src="{{ url_for('static', filename = 'svg/notification.svg') }}"
            alt="notification"
          />
          <a href="/">Notifications</a>
          <div class="text-body-sm notification-count">7</div>
        </li>
        <li class="flex">
          <img
            src="{{ url_for('static', filename = 'svg/bookmark-small.svg') }}"
            alt="bookmark-small"
          />
          <a href="/">Bookmarks</a>
        </li>
        <li class="flex">
          <img
            src="{{ url_for('static', filename = 'svg/admin.svg') }}"
            alt="admin"
          />
          <a href="/">Admin</a>
        </li>
        <li class="flex">
          <img
            src="{{ url_for('static', filename = 'svg/guideline.svg') }}"
            alt="guideline"
          />
          <a href="{{ url_for('main.community_guidelines') }}"
            >Community Guidelines</a
          >
        </li>
      </ul>
      <div class="text-body-md log-out">
        <a href="{{ url_for('user.logout') }}">Log out</a>
      </div>
      <div class="py-2 px-4 modal-footer">
        <a href="/" class="link">FAQ</a><span>·</span
        ><a href="/" class="link">About</a>
      </div>
    </div>
  </dialog>
</div>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'scripts/userProfileModal.js') }}"
></script>
