<div class="flex navbar">
  <div class="flex flex-between container">
    <a href="/"
      ><img
        src="{{ url_for('static', filename = 'img/mmu-logo.png') }}"
        alt="MMU Logo"
        class="logo"
    /></a>

    <div class="flex flex-center text-body-lg mid-col">
      <nav>
        <ul class="flex flex-center">
          <li>
            <a
              class="link
          {{ 'active' if request.path == url_for('main.index') }}
          "
              href="{{ url_for('main.index') }}"
              >Home</a
            >
          </li>
          <li>
            <a
              class="link
            {{ 'active'  if request.path == url_for('notification.notifications') }}
            "
              href="{{ url_for('notification.notifications') }}"
              >Notifications</a
            >
          </li>
        </ul>
      </nav>

      {# search bar #}
      <form action="/search" method="GET" class=" search-bar">
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search"
          class="search-bar-input"
        />
        <button type="submit" class="flex flex-center">
          {% include "svgs/search.html" %}
        </button>
      </form>
    </div>

    <div class="flex flex-center gap-4 right-col">
      {% include "layouts/themeToggle.html" %}
      {# user profile pop up modal using dialog html tag #}
      <div class="flex flex-center open-button">
        {% with avatar_url=user.avatar_url, owner = user %}
          {% include "layouts/avatar.html" %}
        {% endwith %}
      </div>
    </div>
  </div>

  <dialog class="modal" id="userProfileModal">
    <div class="flex flex-col">
      <div class="flex flex-col user-profile-container">
        <a href="{{ url_for('me.posts') }}">
          {% with avatar_url=user.avatar_url, owner = user %}
            {% include "layouts/avatar.html" %}
          {% endwith %}
          <div class="flex flex-between user-profile-info">
            <div class="text-label-lg">
              Anonymous_{{ user.anon_no if user.anon_no else 'None' }}
            </div>
            {% include "svgs/chevron-right.html" %}
          </div>
        </a>
      </div>
      <ul class="flex flex-col text-body-md navigation-container">
        <li>
          <a href="{{ url_for('notification.notifications') }}" class="flex">
            {% include "svgs/notification.html" %}
            <span>Notifications</span>
            <div class="text-body-sm notification-count"></div>
          </a>
        </li>
        <li>
          <a href="{{ url_for('me.bookmarks') }}" class="flex">
            {% with class='svg-stroke-black bookmark-small' %}
              {% include "svgs/bookmark.html" %}
            {% endwith %}
            <span>Bookmarks</span>
          </a>
        </li>
        {% if user.is_admin %}
          <li>
            <a href="{{ url_for('admin.index') }}" class="flex">
              {% include "svgs/admin.html" %}
              <span>Admin</span>
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{{ url_for('main.community_guidelines') }}" class="flex">
            {% include "svgs/community-guideline.html" %}
            <span>Community Guidelines</span>
          </a>
        </li>
      </ul>
      <a href="{{ url_for('user.logout') }}" class="text-body-md log-out">
        Log out
      </a>
      <div class="py-2 px-4 modal-footer">
        <a href="{{ url_for('faq.get_faq') }}" class="link">FAQ</a><span>·</span
        ><a href="{{ url_for('about.get_about') }}" class="link">About</a>
      </div>
    </div>
  </dialog>
</div>
<div
  class="d-none current-user-id"
  id="{{ user.id }}"
  data-user-id="{{ user.id }}"
></div>
