<div
  class="card py-6 px-8 flex flex-col post-card"
  id="post-{{ post.id }}"
  data-post-id="{{ post.id }}"
>
  <div class="flex flex-col">
    <div class="flex flex-between post-card__user-info-container">
      <div class="flex flex-center user-container">
        {% with avatar_url=post.postCreator.avatar_url %}
          {% include "layouts/avatar.html" %}
        {% endwith %}
        <div class="ml-6 flex flex-col">
          <div class="mb-1 flex flex-center user-info-text">
            <span class="text-label-lg"
              >Anonymous_{{ post.postCreator.anon_no }}</span
            >
            <div class="ml-2 campus-tag">
              {{ post.postCreator.campus.value }}
            </div>
          </div>
          <div class="date">{{ post.timeAgo }}</div>
        </div>
      </div>
      <div class="flex flex-center react-container">
        <div class="inline-flex like-button">
          <img
            src="{{ url_for('static', filename= 'svg/like-blue.svg' if post.userInteraction.isLikedByUser else 'svg/like.svg') }}"
            alt="like"
            class="icon"
          />
        </div>
        <div class="inline-flex bookmark-button">
          <img
            src="{{ url_for('static', filename= 'svg/bookmark-brown.svg' if post.userInteraction.isBookmarkedByUser else 'svg/bookmark-gray.svg') }}"
            alt="bookmark"
            class="icon"
          />
        </div>
        {% if post.isCreator %}
          <div class="inline-flex edit-button">
            <img
              src="{{ url_for('static', filename= 'svg/edit-gray.svg') }}"
              alt="edit"
              class="icon"
            />
          </div>
        {% endif %}
        {% if post.isCreator %}
          <div class="inline-flex delete-button">
            <img
              src="{{ url_for('static', filename= 'svg/bin-gray.svg') }}"
              alt="bin"
              class="icon"
            />
          </div>
        {% endif %}
      </div>
    </div>

    {# post #}
    <div class="post-card__post-preview-container">
      <h2 class="mb-4 text-title-lg">{{ post.title }}</h2>
      <div class="mb-2 flex post-tag-container">
        {% for tagName, tagColor in post.tags %}
          <div
            class="text-label-sm post-tag"
            style="background-color: {{ tagColor }};"
          >
            {{ tagName }}
          </div>
        {% endfor %}
      </div>
      <div class="post-content-container">
        <p class="mb-4 text-body-lg">
          {{ post.content }}
          {% if post.isPreview %}
            {{ post.content[:40] }}
            ...
            <a
              href="{{ url_for('post.get_post', post_id = post.id) }}"
              class="link text-label-lg"
              >see more</a
            >
          {% endif %}
        </p>
        {% if post.image_url %}
          <img src="{{ post.image_url }}" alt="post-image" />
        {% endif %}
      </div>
    </div>

    {# post react count #}
    <div class="flex text-label-md my-8 post-card__react-count-container ">
      <span>{{ post.userInteraction.likes }} likes</span>
      <span>{{ post.userInteraction.comments }} replies</span>
    </div>

    {% if not post.isPreview %}
      <div class="flex mb-8 post-card__add-comment-container">
        {% with avatar_url=user.avatar_url %}
          {% include "layouts/avatar.html" %}
        {% endwith %}
        <form action="/" method="post">
          <div class="form-control">
            <textarea
              name="comment"
              id="comment"
              class="text-body-md pl-4 pr-10 py-2 comment-input"
              placeholder="Add a comment..."
              rows="1"
            ></textarea>

            <button
              type="submit"
              class="flex flex-center submit-comment-button"
            >
              <img
                src="{{ url_for('static', filename = 'svg/send-gray.svg') }}"
                alt=""
                class="icon"
              />
            </button>
          </div>
        </form>
      </div>
    {% endif %}

    {# comment section #}
    <div class="flex flex-col post-card__post-comment-container">
      {% if post.isPreview %}
        {% if post.comments %}
          <div class="mb-5 view-more-comment">
            <a
              href="{{ url_for('post.get_post', post_id = post.id) }}"
              class="link text-label-lg"
              >View more comments</a
            >
          </div>
        {% endif %}
      {% endif %}

      {% for comment in post.comments %}
        {% if not comment.isReply %}
          {% with comment=comment, repliedUser = comment.commentCreator %}
            {% include "layouts/comment.html" %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {# reply to comment form #}
  {% if post.isPreview %}
    <div class="flex post-card__add-comment-container">
      {% with avatar_url=user.avatar_url %}
        {% include "layouts/avatar.html" %}
      {% endwith %}
      <form action="/" method="post">
        <div class="form-control">
          <textarea
            name="comment"
            id="comment"
            class="text-body-md pl-4 pr-10 py-2 comment-input"
            placeholder="Add a comment..."
            rows="1"
          ></textarea>

          <button type="submit" class="flex flex-center submit-comment-button">
            <img
              src="{{ url_for('static', filename = 'svg/send-gray.svg') }}"
              alt=""
              class="icon"
            />
          </button>
        </div>
      </form>
    </div>
  {% endif %}
</div>

{% block js %}
  <script
    type="text/javascript"
    src="{{ url_for('static', filename = 'scripts/postCardHandler.js') }}"
  ></script>
{% endblock js %}
