<div
  class="card py-6 px-8 flex flex-col post-card"
  id="post-{{ post.id }}"
  data-post-id="{{ post.id }}"
>
  <div class="flex flex-col">
    <div class="flex flex-between post-card__user-info-container">
      <div class="flex flex-center user-container">
        {% with avatar_url=post.postCreator.avatar_url, owner = post.postCreator %}
          {% include "layouts/avatar.html" %}
        {% endwith %}
        <div class="ml-6 flex flex-col">
          <div class="mb-1 flex flex-center user-info-text">
            <span class="text-label-lg"
              >Anonymous_{{ post.postCreator.anon_no }}</span
            >
            <div class="ml-2 campus-tag">
              {{ post.postCreator.campus.value }}
            </div>
          </div>
          <div class="date">{{ post.timeAgo }}</div>
        </div>
      </div>

      <div class="flex flex-center gap-2 react-container">
        {% if post.postStatus != 'Pending' %}
          {% if post.postStatus in ['Approved', 'Unread_approved'] %}
            <div
              class="inline-flex like-button"
              data-is-post-liked-by-user="{{ post.userInteraction.isLikedByUser }}"
            >
              <img
                src="{{ url_for('static', filename= 'svg/like-blue.svg' if post.userInteraction.isLikedByUser else 'svg/like.svg') }}"
                alt="like"
                class="icon"
              />
            </div>

            <div
              class="inline-flex bookmark-button"
              data-is-post-bookmarked-by-user="{{ post.userInteraction.isBookmarkedByUser }}"
            >
              <img
                src="{{ url_for('static', filename= 'svg/bookmark-brown.svg' if post.userInteraction.isBookmarkedByUser else 'svg/bookmark-gray.svg') }}"
                alt="bookmark"
                class="icon"
              />
            </div>
          {% endif %}

          {% if post.isCreator %}
            <div class="inline-flex edit-button">
              <img
                src="{{ url_for('static', filename= 'svg/edit-gray.svg') }}"
                alt="edit"
                class="icon"
              />
            </div>
          {% endif %}

          {% if post.isCreator %}
            <div class="inline-flex delete-button">
              <img
                src="{{ url_for('static', filename= 'svg/bin-gray.svg') }}"
                alt="bin"
                class="icon"
              />
            </div>
          {% endif %}
        {% endif %}

        {# post status  #}
        {% if post.postStatus not in ['Approved', 'Unread_approved'] %}
          {% if post.postStatus == 'Pending' %}
            <div class="post-status post-status-pending">Pending</div>
          {% elif post.postStatus in ['Rejected', 'Unread_rejected'] %}
            <div class="post-status post-status-rejected">Rejected</div>
          {% endif %}
        {% endif %}
      </div>
    </div>

    {# post #}
    <div class="post-card__post-preview-container">
      <h2 class="mb-4 text-title-lg">{{ post.title }}</h2>
      <div class="mb-2 flex gap-2 post-tag-container">
        {% for tagName, tagColor in post.tags %}
          <div
            class="text-label-sm post-tag"
            style="background-color: {{ tagColor }};"
          >
            {{ tagName }}
          </div>
        {% endfor %}
      </div>
      <div class="post-content-container">
        <p class="mb-4 text-body-lg">
          {% if post.isPreview %}
            {{ post.content[:40] | line_breaks }}
            ...
            <a
              href="{{ url_for('post.get_post', post_id = post.id) }}"
              class="link text-label-lg"
              >see more</a
            >
          {% else %}
            {{ post.content | line_breaks }}
          {% endif %}
        </p>
        {% if post.image_url %}
          <img src="{{ post.image_url }}" alt="post-image" />
        {% endif %}
      </div>
    </div>

    {% if post.postStatus in ['Approved', 'Unread_approved'] %}

      {# post react count #}
      <div class="flex text-label-md my-8 post-card__react-count-container ">
        <div
          class="{{ 'text-active' if post.userInteraction.isLikedByUser else '' }}"
        >
          <span id="like-count-{{ post.id }}"
            >{{ post.userInteraction.likes }}</span
          ><span>
            {{ 'like' if post.userInteraction.likes == 1 else 'likes' }}</span
          >
        </div>
        <div
          class="{{ 'text-active' if post.userInteraction.isCommentedByUser > 0 else '' }}"
        >
          <span id="comment-count-{{ post.id }}"
            >{{ post.userInteraction.comments }}</span
          ><span>
            {{ 'comment' if post.userInteraction.comments == 1 else 'comments' }}</span
          >
        </div>
      </div>

      {% if not post.isPreview %}
        {% with class='post-card__add-comment-container-form', id = 'addCommentForm' %}
          {% include "layouts/commentForm.html" %}
        {% endwith %}
      {% endif %}

      {# comment section #}
      <div class="flex flex-col post-card__post-comment-container">
        {% if post.isPreview %}
          {% if post.userInteraction.comments > 12 %}
            <div class="mb-5 view-more-comment">
              <a
                href="{{ url_for('post.get_post', post_id = post.id) }}"
                class="link text-label-lg"
                >View more comments</a
              >
            </div>
          {% endif %}
        {% endif %}

        <div class="flex flex-col comment-group-container">
          {% for comment in post.comments %}
            {% if not comment.isReply %}
              {% with comment=comment, repliedUser = comment.commentCreator, repliedCommentId=None %}
                {% include "layouts/comment.html" %}
              {% endwith %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>

  {% if post.postStatus in ['Approved', 'Unread_approved'] %}
    {# reply to comment form #}
    {% if post.isPreview %}
      {% with class="", id = 'addCommentForm' %}
        {% include "layouts/commentForm.html" %}
      {% endwith %}
    {% endif %}

    {# reserve elements #}
    <div class="reserve-elements d-none">
      {# create comment element #}
      <div class="flex flex-col comment-group-container reserve-element">
        <div class="flex pb-5 comment-container" id="" data-current-user-id="">
          <div class="avatar-container ">
            {% with avatar_url = user.avatar_url, owner = user %}
              {% include "layouts/avatar.html" %}
            {% endwith %}
          </div>

          <div class="ml-2 flex flex-col">
            <div class="text-body-md comment">
              <div class="flex flex-between comment-header">
                <div class="text-label-lg mb-2 user-interaction-container">
                  Anonymous_{{ user.anon_no }}
                </div>
                <div class="text-label-md ml-2 flex comment-react-container">
                  <div class="">
                    <span id="like-count-"></span>
                    <span></span>
                  </div>

                  <div class="">
                    <span id="reply-count-"></span><span></span>
                  </div>

                  <a href="/" class="link ">Report</a>
                </div>
              </div>
              <div class="reply"></div>
            </div>
            <div class="mt-2 ml-1 flex comment-info">
              <div class="date">just now</div>
              <div
                class="link text-label-sm comment-like"
                data-is-comment-liked-by-user="false"
              >
                Like
              </div>
              <div
                class="link text-label-sm comment-reply"
                data-is-comment-replied-by-user="false"
              >
                Reply
              </div>

              <div class="link text-label-sm comment-edit">Edit</div>
              <div class="link text-label-sm comment-delete">Delete</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
