<div
  class="flex flex-col transition-medium notification-comment-on-post"
  id="{{ postNotification.id }}"
  data-notification-type="{{ postNotification.type }}"
>
  <div class="flex flex-col post-heading">
    <h2 class="mb-4 text-title-lg">{{ postNotification.postTitle }}</h2>
    <div class="mb-2 flex gap-2 post-tag-container">
      {% for tag_name, tag_color in notifications.postTags %}
        <div
          class="text-label-sm post-tag"
          style="background-color: {{ tag_color }};"
        >
          {{ tag_name }}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="divider"></div>
  <div class="pb-2 flex gap-3 comment-on-post">
    {% with avatar_url = postNotification.commentCreator.avatar_url, owner = postNotification.commentCreator %}
      {% include "layouts/avatar.html" %}
    {% endwith %}
    <div class="flex flex-col text-label-lg reply-container">
      <div class="flex flex-between reply-heading">
        <div class="mb-1 flex reply-user">
          Anonymous_{{ postNotification.commentCreator.anon_no }}
        </div>
        <div class="flex flex-center gap-2 right-col">
          <div class="text-label-md date">{{ postNotification.timeAgo }}</div>
          <a href="/" class="text-label-sm link">Report</a>
        </div>
      </div>
      <div class="text-body-md reply">
        {{ postNotification.commentContent[:40] | line_breaks }}
      </div>
    </div>
  </div>
</div>
