{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  <div class="home-page-body">
    <section class="mx-auto post-section">
      <div class="container card flex px-8 py-6 create-post-card">
        {% with avatar_url=user.avatar_url, owner = user %}
          {% include "layouts/avatar.html" %}
        {% endwith %}
        <div
          id="createPostPageButton"
          class="ml-6 flex px-4 py-2 create-post-container text-body-md"
        >
          {% include "svgs/pencil.html" %}
          <div>Create post...</div>
        </div>
      </div>

      <div
        class="container flex flex-col gap-12 mt-12 pb-12 post-card-container"
        id="mainPagePostCardContainer"
      >
        {% include "layouts/postCardList.html" %}
        <div class="flex flex-center loading-container d-none">
          {% include "svgs/infinity-loading-spinner.html" %}
        </div>
      </div>
    </section>
  </div>

  <div class="hidden" id="userInfo" data-user-info="{{ user }}"></div>
{% endblock content %}
