{% extends "layouts/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
  <div class="home-page-body">
    <section class="mx-auto post-section">
      <div class="container card flex px-8 py-6 create-post-card">
        {% include "layouts/avatar.html" %}
        <div
          id="openButton"
          class="flex px-4 py-2 create-post-container text-body-md"
        >
          <img
            src="{{ url_for('static', filename = 'svg/pencil.svg') }}"
            alt="pencil"
            class="icon"
          />
          <div>Create post...</div>
        </div>
      </div>

      {# todo: add a post preview card class when developing other post detail component #}
      <div class="container flex flex-col mt-12 pb-12 post-card-container">
        {% include "layouts/postCard.html" %}
      </div>
    </section>
  </div>

  {% include "post/createPostModal.html" %}

  <div class="hidden" id="userInfo" data-user-info="{{ user }}"></div>
{% endblock content %}

{% block js %}
  <script src="{{ url_for('static', filename = 'scripts/createPostModal.js') }}"></script>
  <script src="{{ url_for('static', filename = 'scripts/multiSelect.js') }}"></script>
{% endblock js %}
