@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* variables */
@import url("variables.css");

/* utilities */
@import url("utilities.css");

/* reset & normalize */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid rgba(255, 0, 0, 0.5); */
}

body {
  min-height: 100vh;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: var(--color---base---white);
  line-height: 1.6;
  color: var(--color---base---gray);
}

section::-webkit-scrollbar {
  width: 0px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input[type="button"],
input[type="submit"],
input[type="search"] {
  /* Remove default button styles */
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none; /* Remove default focus outline */
  /* Add additional styles as needed */
}

input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color---base---white) inset !important;
  transition: background-color 0.5s ease-in-out 0s;
}
input:-webkit-autofill,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px var(--color---neutral--neutral95) inset !important;
  transition: background-color 0.5s ease-in-out 0s;
}

input[type="search"] {
  width: 100%;
  cursor: text;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: inherit;
  font-family: "Roboto", sans-serif;
}

textarea::placeholder {
  color: var(--color---neutral--neutral50);
  font-size: var(--text--body--medium);
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.25px;
}

textarea::-webkit-scrollbar {
  width: 0px;
}

/* form */
.form-control {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form-control > *:is(input, textarea) {
  border-radius: 24px;
  background-color: var(--color---neutral--neutral95);

  &:focus {
    background-color: var(--color---base---white);
    border-radius: 24px;
    border: 1px solid var(--color---neutral--neutral40);
  }
}

form {
  width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/*  message */
/* display at top center */
.flash {
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 0.25rem 1rem;
  color: var(--color---base---white);
  border-radius: 8px;
  box-shadow: var(--modal-shadow);
  opacity: 0;

  animation: fadeIn 0.25s forwards;

  &.flash-success {
    background-color: var(--color---alert---success);
  }

  &.flash-info {
    background-color: var(--color---alert---info);
  }

  &.flash-warning {
    background-color: var(--color---alert---warning);
  }

  &.flash-error {
    background-color: var(--color---alert---error);
  }
}

.flash.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* link */
.link {
  text-decoration: none;
  color: var(--color---base---black);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--color---base---black);
  }

  &:disabled {
    color: var(--color---neutral--neutral50);
  }
}

/* icon */
.icon {
  display: inline-block;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0.1875rem; /* 3px */
  flex-shrink: 0;
  width: auto;
  height: auto;
}

/* avatar */
.avatar {
  position: relative;

  z-index: 100;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.avatar-lg {
  width: 80px;
  height: 80px;
}

/* campus tag */
.campus-tag {
  background: #e1e3e3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  border-radius: 8px;
  padding: 0px 1rem;
}

/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color---base---active);
  color: var(--color---base---white);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---base---active-hover);
    opacity: 0.8;
  }
}

.btn-error {
  background-color: var(--color---base---error);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---base---error);
    opacity: 0.8;
  }
}

.btn-muted {
  background-color: transparent;
  color: var(--color---neutral--neutral70);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---neutral--neutral95);
    /* background-color: red; */
    color: var(--color---neutral--neutral50);
  }
}

/* post status */
.post-status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  height: fit-content;
  height: fit-content;
  overflow: hidden;

  &.post-status-pending {
    background-color: var(--color---status---pending);
  }

  &.post-status-approved {
    background-color: var(--color---status---approved);
  }

  &.post-status-rejected {
    background-color: var(--color---status---rejected);
  }
}

/* post tag */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 6px;
  border-radius: 8px;
  background: #fecaca;
  overflow: hidden;
  height: fit-content;

  &.post-tag-lg {
    padding: 8px 16px;
    border-radius: 24px;
  }

  & svg {
    fill: red; /* Change the color of the SVG */
    /* Add any other CSS properties you want to style the SVG */
  }
}

/* card */
.card {
  background-color: var(--color---base---white);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
}

/* other(mics) */
.date {
  color: var(--color---neutral--neutral50);
  cursor: text;

  font-size: var(--text--label--small);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}

/* navbar */
.navbar {
  position: relative;
  height: 100px;
  width: 100%;
  box-shadow: var(--card-shadow);
  background-color: var(--color---base---white);
}

.navbar .container {
  align-items: center;
}

.navbar .mid-col {
  gap: 32px;
  height: fit-content;
}

.mid-col ul {
  gap: 32px;
}

.mid-col .link {
  padding: 0px 4px 8px;
  /* width: 80%; */
}

.mid-col .link:hover,
.mid-col .active {
  border-bottom: 2px solid var(--color---base---error);
}

.mid-col ul .link:hover {
  text-decoration: none;
}

.mid-col .search-bar {
  display: flex;
  padding: 4px 16px 4px 24px;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  width: 320px;
  flex-shrink: 0;

  border-radius: 12px;
  border: 1px solid var(--color---neutral--neutral70);
  background-color: var(--color---base---white);
  box-shadow: var(--card-shadow);
}

.mid-col .search-bar .search-bar-input {
  width: 100%;
}

.navbar .open-button {
  min-width: fit-content;
}

/* modal */
.modal {
  border: 0;
  box-shadow: var(--modal-shadow);
  background-color: var(--color---base---white);
}

.modal::-webkit-scrollbar {
  width: 0px;
}

/* .modal::backdrop {
  background: rgb(0 0 0 / 0.4);
} */

#userProfileModal {
  position: absolute;
  width: 232px;
  border-radius: 4px;
  top: 82px;
  left: calc(100% - 13vw);
  transform: translateX(-50%);
  box-shadow: var(--modal-shadow);
  background-color: var(--color---base---white);
  animation: modalFadeIn 0.3s ease;
}

#userProfileModal .user-profile-container {
  padding: 1rem 0.75rem 0.5rem;
  gap: 0.5rem;

  & > a:focus-visible {
    outline: none;
  }
}

.user-profile-container .text-label-lg {
  color: var(--color---base---black);
}

#userProfileModal .navigation-container {
  border-top: 1px solid var(--color---neutral--neutral90);
  border-bottom: 1px solid var(--color---neutral--neutral90);
}

.navigation-container > li {
  padding: 10px 16px;
  gap: 0.25rem;
  transition: background-color 0.3s ease;
}

.navigation-container > li:first-child {
  position: relative;
}

.navigation-container > li:hover,
.navigation-container > li:focus {
  background-color: var(--color---neutral--neutral95);

  & a {
    color: var(--color---base---black);
  }
  & .notification-count {
    opacity: 0.8;
  }
}

.navigation-container li a {
  color: var(--color---neutral--neutral40);
}

.navigation-container li .notification-count {
  position: absolute;
  right: 16px;
  top: 50%;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  z-index: 100;
  padding: 0.05rem 0.125rem;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color---base---white);
  background-color: var(--color---base---error);
  cursor: default;
}

#userProfileModal .log-out {
  padding: 10px 1rem;

  & a {
    color: var(--color---neutral--neutral40);
  }

  &:hover a,
  &:active a {
    color: var(--color---base---black);
  }
}

#userProfileModal .user-profile-container:hover,
#userProfileModal .usr-profile-container:active,
#userProfileModal .log-out:hover,
#userProfileModal .log-out:active {
  background-color: var(--color---neutral--neutral90);
}

#userProfileModal .modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--color---neutral--neutral95);
}

.modal-footer .link {
  font-size: 10px;
  line-height: 1rem;
  font-weight: 400;
  color: var(--color---neutral--neutral50);
}

.modal-footer .link:hover {
  color: var(--color---neutral--neutral40);
}

.modal-footer span {
  padding: 0px 0.125rem;
}

/* home page */
.home-page-body {
  background-color: var(--color---neutral--neutral95);
  min-height: 100vh;
  padding-top: 24px;
  padding-bottom: 48px;
}

.post-section .create-post-card {
  align-items: center;
  gap: 24px;
}

.create-post-card > .buttonopen {
  width: 100%;
}

.create-post-container {
  align-items: center;
  width: 100%;
  gap: 8px;
  color: var(--color---neutral--neutral50);
  border-radius: 12px;
  border: 1px solid var(--color---neutral--neutral70);
  cursor: text;
}

/* post card */

.post-card-container .card {
  gap: 24px;
}

.post-card__user-info-container .user-info.text .text-label-lg {
  font-weight: 600;
}

.post-card__user-info-container {
  position: relative;
}

.post-card__user-info-container .react-container,
.post-card__post-preview-container .post-tag-container {
  gap: 8px;
}

.post-card__react-count-container {
  gap: 12px;
  color: var(--color---neutral--neutral40);
  padding-bottom: 9px;
  border-bottom: 1px solid var(--color---neutral--neutral80);
}

.post-card__post-comment-container {
  cursor: default;
}

.comment-container .comment {
  min-width: fit-content;
  width: auto;
  padding: 8px 16px 12px 16px;
  border-radius: 12px;
  background-color: var(--color---neutral--neutral95);
}

.comment-container .avatar-container {
  position: relative;
  min-width: fit-content;
}

.comment-container .reply-avatar-container::before {
  content: "";
  position: absolute;
  top: var(--before-top);
  left: -50%;
  height: var(--before-height);
  width: 16px;
  border-bottom-left-radius: 8px;
  border-left: 2px solid var(--color---neutral--neutral90);
  border-bottom: 2px solid var(--color---neutral--neutral90);
  z-index: 1;
}

.comment-container .comment-react-container {
  align-self: start;
  gap: 8px;
}

.comment-container .comment-react-container .link:hover {
  color: var(--color---base---active);
  text-decoration: none;
}

.comment-container .comment-header .replied-user {
  color: var(--color---neutral--neutral50);
}

.comment-container .comment-info {
  gap: 10px;
}

.comment-container .reply {
  cursor: text;
}

.comment-container .reply:focus {
  background-color: var(--color---base---white);
  outline: none;
}

.comment-container .editing {
  cursor: auto;
  background-color: var(--color---base---white);
  border-radius: 12px;
  border: 1px solid var(--color---neutral--neutral40);
}

.comment-container .comment-info > :not(:first-child),
.comment-container .comment-header .user-interaction-container {
  cursor: pointer;
}

.comment-container .comment-info .comment-delete:hover,
.comment-container .comment-header .comment-delete:active {
  text-decoration: none;
  font-weight: 600;
  color: var(--color---base---error);
}

.comment-container .comment-header .user-interaction-container__reply:hover,
.comment-container .comment-header .user-interaction-container__reply:active {
  text-decoration: none;
  color: var(--color---base---black);
  & .replied-user {
    color: var(--color---base---gray);
  }
}

.post-card__post-comment-container .view-more-reply {
  margin-top: -0.25rem;
  margin-bottom: 1rem;
  gap: 8px;
  align-items: center;
}

.post-card__post-comment-container .view-more-reply img {
  margin-left: 5.25rem;
}

.post-card__add-comment-container {
  gap: 12px;
}

.post-card__add-comment-container .form-control button {
  position: absolute;
  top: 8px;
  right: 10px;
  height: auto;
}

/* create-post-modal */
#createPostModal,
#editPostModal {
  position: fixed;
  width: 936px;
  height: fit-content;
  max-height: 100vh;
  border-radius: 4px;
  top: 50vh;
  left: 50%;
  overflow-x: hidden;
  transform: translate(-50%, -50%);
  box-shadow: var(--modal-shadow);
  background-color: var(--color---base---white);
  animation: modalFadeIn 0.3s ease;
}

#createPostModal::backdrop,
#editPostModal::backdrop {
  background-color: var(--color---base---black);
  background-blend-mode: multiply;
  opacity: 0.6;
}

#createPostModal .error-message,
#editPostModal .error-message {
  color: var(--color---alert---error);
}

.create-post-modal-container .user-info-container {
  align-items: center;
  height: fit-content;
}

.create-post-modal-container .user-info-container .text-label-lg {
  font-weight: 700;
}

.create-post-modal-container .title-input {
  width: 100%;
  border: 1px solid transparent;
}

.create-post-modal-container .content-form-control {
  align-items: start;
  gap: 4px;
  width: 100%;
}
.create-post-modal-container .content-form-control .comment-input {
  border-radius: 12px;
}

.create-post-modal-container .divider {
  height: 1px;
  background-color: var(--color---neutral--neutral90);
  width: 936px;
  margin-left: -24px;
}

.create-post-modal-container .upload-image-container {
  align-items: center;
}

.create-post-modal-container .select-image-message {
  color: var(--color---base---active);
}

.create-post-modal-container .remove-image {
  cursor: pointer;
}

/* community guideline */
.community-guideline-container {
  width: 744px;
  gap: 32px;
}

.community-guideline-container .heading {
  border-bottom: 2px solid var(--color---neutral--neutral90);
}

.community-guideline-container .community-guideline-body {
  gap: 24px;
}

.community-guideline-container .small-container > *:first-child {
  font-weight: bold;
}

.community-guideline-container .community-guideline-intro {
  font-weight: 500;
}

.community-guideline-container .submit-button-container {
  display: flex;
  justify-content: end;
}

.community-guideline-container .checkbox-container {
  justify-content: start;
}

.community-guideline-container .checkbox-label {
  font-weight: 500;
}

.community-guideline-container #community-guideline-ending,
.community-guideline-container #community-guideline-welcome-message {
  font-weight: 400;
}

.community-guideline-container #submitButton:disabled {
  background-color: var(--color---neutral--neutral80);
}

/* post detail page */
.post-detail-page-body {
  min-height: 100vh;
  background-color: var(--color---neutral--neutral95);
  padding-top: 24px;
  padding-bottom: 48px;
}

/* user info */
.user-info-section .user-info-container .user-info {
  align-items: center;
}

.user-info-section .user-info-container .edit-avatar {
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.user-info-section .user-content-container {
  padding-bottom: -2px;
  border-bottom: 2px solid var(--color---neutral--neutral90);
  padding-bottom: 1rem;
}

.user-info-section .user-content-container a:hover,
.user-info-section .user-content-container a:focus,
.user-info-section .user-content-container .active {
  text-decoration: underline;
  text-underline-offset: 23px;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

#avatarForm .recommend-dimension {
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color---neutral--neutral60);
}

/* Style for FAQ Section */
.faq-section {
  text-align: center;
}

.faq-text {
  font-size: 24px;
  position: relative;
}

.faq-text h2 {
  display: inline;
}

.faq-text p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -25px; /* Adjust the position of the line */
}

.faq-box {
  font-family: "Times New Roman", Times, serif; /* Change font to Times New Roman */
  color: black; /* Text color */
  width: 60%; /* Adjust the width as needed */
  margin: 20px auto; /* Center align and add margin */
  border: 2px solid #ccc; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  box-sizing: border-box;
  text-align: left; /* Align text to the left */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: border-color 0.3s; /* Smooth transition for border color change */
  background-color: #f9f9f9; /* Light gray background color */
}

.faq-box:hover {
  border-color: #555; /* Darker border color on hover */
}

.faq-question {
  font-size: 18px; /* Question font size */
  margin-bottom: 10px; /* Add space below the question */
}

.faq-answer-box {
  padding: 10px;
  background-color: #eaeaea; /* Lighter background color for answers */
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px; /* Rounded corners */
  display: none; /* Initially hide the answer */
}

.faq-answer {
  font-size: 16px; /* Answer font size */
}

.faq-box.active .faq-answer-box {
  display: block; /* Show answer when active */
}

.btn-FAQ {
  position: fixed;
  bottom: 10px;
  right: 10px; /* 调整这里的值来控制按钮距离右边的距离 */
  display: inline-block;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color---base---active);
  color: var(--color---base---white);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-FAQ:hover,
.btn-FAQ:focus,
.btn-FAQ:active {
  background-color: var(--color---base---active-hover);
  opacity: 0.8;
}

.reserve-element.comment-form .cancel-button {
  margin-top: -0.75rem;
}

/* notification */
.notification-section .filter-container {
  width: 264px;
  height: 100%;
  position: sticky;
  top: 20px;
}

.notification-section .filter-heading {
  border-bottom: 2px solid var(--color---neutral--neutral90);
}

.notification-section .notification-heading {
  width: 100%;
  border-bottom: 2px solid var(--color---neutral--neutral90);
  height: auto;
  align-items: flex-end;
}

.filter-category-container .filter-category-item {
  position: relative;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.filter-category-container .filter-category-item:hover,
.filter-category-container .filter-category-item__active {
  background-color: var(--color----base---light--blue);

  color: var(--color---base---active);
  font-weight: 700;
}

.filter-category-container .notification-count {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  padding: 0px 0.25rem;
}

.notification-section .notification-container {
  width: 100%;
}

.notification-content-container .notification-reply:hover,
.notification-content-container .notification-reply:focus,
.notification-content-container .notification-comment-on-post:hover,
.notification-content-container .notification-comment-on-post:focus,
.notification-content-container .notification-post-status:hover,
.notification-content-container .notification-post-status:focus {
  background-color: var(--color---neutral--neutral80);
  border-radius: 4px;

  & .divider {
    background-color: var(--color---neutral--neutral70);
  }
}

.notification-content-container .notification-reply,
.notification-content-container .notification-comment-on-post,
.notification-content-container .notification-post-status {
  display: flex;
  padding: 0.75rem 1rem;
  gap: 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color---neutral--neutral95);
}

.notification-content-container .notification-post-status {
  padding: 1.5rem 2rem 2rem;
}

.notification-content-container .reply-container {
  width: 100%;
}

.notification-content-container .reply-heading {
  height: auto;
}

.notification-content-container .notification-reply .replied-user {
  color: var(--color---neutral--neutral50);
}

.notification-content-container .post-heading .post-heading__main {
  align-items: center;
}

.post-heading .post-heading__main .date {
  display: flex;
  margin-top: 0.5rem;
}

.notification-content-container .notification-comment-on-post .divider {
  display: block;
  height: 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  background-color: var(--color---neutral--neutral80);
}

.notification-content-container .read {
  background-color: var(--color---base---white);
  border-bottom: 1px solid var(--color---neutral--neutral80);
  border-radius: 0px;

  & .divider {
    background-color: var(--color---neutral--neutral95);
  }
}
