@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* variables */
@import url("variables.css");

/* utilities */
@import url("utilities.css");

/* reset */
@import url("reset.css");

/* import files here */

/* svgs  */
@import url("svgs.css");

/* import other files here */

.divider {
  height: 1px;
  background-color: var(--color---neutral--neutral90);
  margin-left: -2rem;
  width: calc(100% + 2 * 2rem);
  overflow-x: hidden;
}

[data-theme="dark"] .divider {
  background-color: var(--color---dark-mode---neutral--neutral90);
}

.overlay {
  z-index: 500; /* Ensure it's above other elements */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color---base---black);
  background-blend-mode: multiply;
  opacity: 0.3;
}

[data-theme="dark"] .overlay {
  background-color: var(--color---dark-mode---neutral--neutral0);
  background-blend-mode: screen;
  opacity: 0.15;
}

/* form */
.form-control {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form-control > *:is(input, textarea) {
  border-radius: 24px;
  background-color: var(--color---neutral--neutral95);
  &:focus {
    background-color: var(--color---base---white);
    border-radius: 24px;
    border: 1px solid var(--color---neutral--neutral40);
  }
}

[data-theme="dark"] .form-control > *:is(input, textarea) {
  background-color: var(--color---dark-mode---neutral--neutral95);
  &:focus {
    background-color: var(--color---dark-mode---neutral--neutral100);
    border: 1px solid var(--color---dark-mode---neutral--neutral40);
  }
}

form {
  width: 100%;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/*  message */
/* display at top center */
[data-theme="dark"] .flash {
  background-color: var(--color---dark-mode---neutral--neutral50);
  box-shadow: var(--dark-modal-shadow);
}

.flash {
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 0.25rem 1rem;
  background-color: var(--color---neutral--neutral50);
  color: var(--color---base---white);
  border-radius: 8px;
  box-shadow: var(--modal-shadow);
  opacity: 0;

  animation: fadeIn 0.25s forwards;

  &.flash-success {
    background-color: var(--color---alert---success);
  }

  &.flash-info {
    background-color: var(--color---alert---info);
  }

  &.flash-warning {
    background-color: var(--color---alert---warning);
  }

  &.flash-error {
    background-color: var(--color---alert---error);
  }
}

.flash.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* scroll to top button */
#scrollToTop {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 1000;
}

#scrollToTop.fade-out {
  animation: scrollToTopFadeOut 0.3s ease;
}

/* link */
.link {
  text-decoration: none;
  color: var(--color---base---black);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--color---base---black);
  }

  &:disabled {
    color: var(--color---neutral--neutral50);
  }
}

[data-theme="dark"] .link {
  color: var(--color---base---white);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--color---base---white);
  }

  &:disabled {
    color: var(--color---dark-mode---neutral--neutral50);
  }
}

/* avatar */
.avatar {
  position: relative;

  z-index: 100;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.avatar-lg {
  width: 80px;
  height: 80px;
}

/* campus tag */
.campus-tag {
  background-color: #e1e3e3;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  border-radius: 8px;
  padding: 0px 1rem;
}

[data-theme="dark"] .campus-tag {
  color: var(--color---dark-mode---neutral--neutral100);
  background-color: var(--color---dark-mode---neutral--neutral50);
}

/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color---base---active);
  color: var(--color---base---white);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---base---active-hover);
    opacity: 0.8;
  }
}

[data-theme="dark"] .btn {
  background-color: var(--color---dark-mode---base---active);
  color: var(--color---base---white);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---dark-mode---base---active-hover);
    opacity: 0.8;
  }
}

.btn-error {
  background-color: var(--color---base---error);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---base---error);
    opacity: 0.8;
  }
}

[data-theme="dark"] .btn-error {
  background-color: var(--color---dark-mode---base---error);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---dark-mode---base---error);
    opacity: 0.8;
  }
}

.btn-success {
  background-color: var(--color---alert---success);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---alert---success);
    opacity: 0.8;
  }
}

.btn-muted {
  background-color: transparent;
  color: var(--color---neutral--neutral70);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---neutral--neutral95);
    color: var(--color---neutral--neutral50);
  }
}

[data-theme="dark"] .btn-muted {
  background-color: transparent;
  color: var(--color---dark-mode---neutral--neutral70);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color---dark-mode---neutral--neutral95);
    color: var(--color---dark-mode---neutral--neutral50);
  }
}

/* post status */
.post-status {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  height: fit-content;
  height: fit-content;
  overflow: hidden;

  &.post-status-pending {
    background-color: var(--color---status---pending);
  }

  &.post-status-approved {
    background-color: var(--color---status---approved);
  }

  &.post-status-rejected {
    background-color: var(--color---status---rejected);
  }
}

[data-theme="dark"] .post-status {
  color: var(--color---dark-mode---neutral--neutral10);
}

/* post tag */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 6px;
  border-radius: 8px;
  background: #fecaca;
  overflow: hidden;
  height: fit-content;

  &.post-tag-lg {
    padding: 6px 12px;
    border-radius: 24px;
  }

  & svg {
    fill: red; /* Change the color of the SVG */
    /* Add any other CSS properties you want to style the SVG */
  }
}

[data-theme="dark"] .post-tag {
  color: var(--color---dark-mode---neutral--neutral100);
}

/* card */
.card {
  background-color: var(--color---base---white);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
}

[data-theme="dark"] .card {
  background-color: var(--color---dark-mode---neutral--neutral100);
  box-shadow: var(--dark-card-shadow);
}

/* other(mics) */
.date {
  color: var(--color---neutral--neutral50);
  cursor: text;

  font-size: var(--text--label--small);
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}

[data-theme="dark"] .date {
  color: var(--color---dark-mode---neutral--neutral50);
}

/* navbar */
.navbar {
  position: fixed;
  align-items: center;
  top: 0px;
  z-index: 300;
  height: 100px;
  width: 100%;
  box-shadow: var(--card-shadow);
  background-color: var(--color---base---white);
}

[data-theme="dark"] .navbar {
  background-color: var(--color---dark-mode---neutral--neutral100);
  box-shadow: var(--dark-card-shadow);
}

.navbar .container {
  align-items: center;
  width: 1128px;
}

.navbar .mid-col {
  gap: 32px;
  height: fit-content;
}

.mid-col ul {
  gap: 32px;
}

.mid-col .link {
  padding: 0px 4px 8px;
  /* width: 80%; */
}

.mid-col .link:hover,
.mid-col .active {
  border-bottom: 2px solid var(--color---base---error);
}

[data-theme="dark"] .mid-col .link:hover,
[data-theme="dark"] .mid-col .active {
  border-bottom: 2px solid var(--color---dark-mode---base---error);
}

.mid-col ul .link:hover {
  text-decoration: none;
}

.mid-col .search-bar {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  width: 320px;
  flex-shrink: 0;

  border-radius: 12px;
  border: 1px solid var(--color---neutral--neutral70);
  background-color: var(--color---base---white);
  box-shadow: var(--card-shadow);
  transition: box-shadow 0.3s ease;

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(0, 0, 256, 0.3);
  }
}

[data-theme="dark"] .mid-col .search-bar {
  border: 1px solid var(--color---dark-mode---neutral--neutral70);
  background-color: var(--color---dark-mode---neutral--neutral100);
  box-shadow: var(--dark-card-shadow);

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(145, 242, 255, 0.5);
  }
}

.search-bar button {
  padding: 0.25rem;
  border-radius: 25%;

  &:hover,
  &:active {
    background-color: var(--color---neutral--neutral95);
  }
}

.shortcut-key {
  background-color: var(--color---neutral--neutral90);
  color: var(--color---neutral--neutral50);
  border-radius: 4px;
  min-width: fit-content;
  text-align: center;
  padding: 4px 8px;
}

[data-theme="dark"] .shortcut-key {
  background-color: var(--color---dark-mode---neutral--neutral90);
  color: var(--color---dark-mode---neutral--neutral50);
}

/* post advanced search modal */
#postAdvancedSearchModal {
  position: fixed;
  width: 744px;
  max-height: 460px;
  border-radius: 4px;
  top: 40vh;
  left: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  transform: translate(-50%, -50%);
  box-shadow: var(--modal-shadow);
  background-color: var(--color---base---white);
  animation: modalFadeIn 0.3s ease;
}

[data-theme="dark"] #postAdvancedSearchModal {
  background-color: var(--color---dark-mode---neutral--neutral100);
  box-shadow: var(--dark-modal-shadow);
}

#postAdvancedSearchModal::backdrop {
  background-color: var(--color---base---black);
  background-blend-mode: multiply;
  opacity: 0.6;
}

[data-theme="dark"] #postAdvancedSearchModal::backdrop {
  background-color: var(--color---dark-mode---neutral--neutral0);
  background-blend-mode: screen;
  opacity: 0.4;
}

#postAdvancedSearchModal .search-bar {
  width: 100%;
  align-items: center;
}

#postAdvancedSearchModal .search-bar #postAdvancedSearchModalSearchField {
  min-width: 0px;
  flex-grow: 1;
}

#postAdvancedSearchModal .search-section {
  justify-content: center;
  align-items: flex-start;
}

#postAdvancedSearchModal .col {
  width: 25%;
}

#postAdvancedSearchModal .search-section .search-header {
  color: var(--color---base---gray);
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--color---neutral--neutral80);
}

[data-theme="dark"] #postAdvancedSearchModal .search-section .search-header {
  color: var(--color---dark-mode---neutral--neutral40);
  border-bottom: 1px solid var(--color---dark-mode---neutral--neutral90);
}

#postAdvancedSearchModal .search-section ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0;
  overflow-y: auto;
}

#postAdvancedSearchModal .search-section input[type="radio"] + label {
  color: var(--color---neutral--neutral40);

  &:hover {
    color: var(--color---base---active);
  }

  &.selected {
    color: var(--color---base---active);
  }
}

[data-theme="dark"]
  #postAdvancedSearchModal
  .search-section
  input[type="radio"]
  + label {
  color: var(--color---dark-mode---neutral--neutral40);

  &:hover {
    color: var(--color---dark-mode---base---active);
  }

  &.selected {
    color: var(--color---dark-mode---base---active);
  }
}

#postAdvancedSearchModal #postAdvancedSearchTags {
  padding-top: 0rem;
  margin-top: 0.5rem;
  gap: 0px;
  overflow-y: hidden;
  color: var(--color---neutral--neutral50);
  height: 240px;
  overflow-y: auto; /* Add vertical scrollbar when necessary */

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color---neutral--neutral80);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color---neutral--neutral99);
  }

  & li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
  }
}

[data-theme="dark"] #postAdvancedSearchModal #postAdvancedSearchTags {
  &::-webkit-scrollbar-thumb {
    background-color: var(--color---dark-mode---neutral--neutral60);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color---dark-mode---neutral--neutral95);
  }
}

#postAdvancedSearchModal #postAdvancedSearchTags li:hover,
#postAdvancedSearchModal #postAdvancedSearchTags li.selected {
  cursor: pointer;
  background-color: var(--color---neutral--neutral95);

  & > * {
    color: var(--color---base---black);
  }
}

#postAdvancedSearchModal #postAdvancedSearchTags li.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: transparent;

  & > * {
    cursor: not-allowed;
    color: var(--color---neutral--neutral70);
  }
}

[data-theme="dark"] #postAdvancedSearchModal #postAdvancedSearchTags li {
  color: var(--color---dark-mode---neutral--neutral40);
}

[data-theme="dark"] #postAdvancedSearchModal #postAdvancedSearchTags li:hover,
[data-theme="dark"]
  #postAdvancedSearchModal
  #postAdvancedSearchTags
  li.selected {
  background-color: var(--color---dark-mode---neutral--neutral90);

  & > * {
    color: var(--color---dark-mode---neutral---neutral40);
  }
}

[data-theme="dark"]
  #postAdvancedSearchModal
  #postAdvancedSearchTags
  li.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: transparent;

  & > * {
    cursor: not-allowed;
    color: var(--color---dark-mode---neutral--neutral70);
  }
}

#postTagsCol .search-header {
  padding-bottom: 0.4rem !important;
}

#postAdvancedSearchModal #postTagSearchButton,
#postAdvancedSearchModal #postTagSearchCancelButton {
  padding: 0.5rem;
  border-radius: 50%;
  margin-top: -0.25rem;
  &:hover,
  &:active {
    background-color: var(--color---neutral--neutral95);
  }
}

.navbar .open-button {
  min-width: fit-content;
}

[data-theme="dark"] .navbar #postSearchSubmitButton:hover,
[data-theme="dark"] .navbar #togglePostAdvancedSearchButton:hover {
  background-color: var(--color---dark-mode---neutral--neutral90);
}

/* theme toggle */
@import "https://unpkg.com/open-props/easings.min.css";

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transform: translateX(0);
    cx: 17;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition:
      transform 0.5s var(--ease-elastic-4),
      opacity 0.5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transform: scale(1.75);
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transform: rotateZ(-25deg);
    transition-duration: 0.15s;
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-delay: 0.25s;
    transition-duration: 0.5s;
  }
}

.theme-toggle {
  --size: 2rem;
  --icon-fill: hsl(210 10% 30%);
  --icon-fill-hover: hsl(210 10% 15%);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;
}

.theme-toggle > svg {
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
}

[data-theme="dark"] .theme-toggle {
  --icon-fill: hsl(210 10% 70%);
  --icon-fill-hover: hsl(210 15% 90%);
}

@media (hover: none) {
  .theme-toggle {
    --size: 48px;
  }
}

.theme-toggle-button-container {
  position: fixed;
  right: 8px;
  bottom: 8px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: var(--color---neutral--neutral80);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--color---neutral--neutral70);
  }
}

[data-theme="dark"] .theme-toggle-button-container {
  background-color: var(--color---dark-mode---neutral--neutral100);

  &:hover {
    background-color: var(--color---dark-mode---neutral--neutral90);
  }
}

.auth-body {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color---neutral--neutral95);
}

[data-theme="dark"] .auth-body {
  background-color: var(--color---dark-mode---neutral--neutral95);
}

/* modal */
.modal {
  border: 0;
  box-shadow: var(--modal-shadow);
  background-color: var(--color---base---white);
}

[data-theme="dark"] .modal {
  background-color: var(--color---dark-mode---neutral--neutral100);
  box-shadow: var(--dark-modal-shadow);
}

.modal::-webkit-scrollbar {
  width: 0px;
}

/* sign up form */
#signUpForm,
#signInForm {
  width: clamp(400px, 50%, 720px);
  border-radius: 8px;
}

#signUpForm label,
#signInForm label {
  min-width: 20%;
}

#signUpForm .divider,
#signInForm .divider {
  width: calc(100% + 2 * 1.5rem);
  margin-left: -1.5rem;
}

#signUpForm .text-active:hover,
#signInForm .text-active:hover,
#signUpForm .text-active:active,
#signInForm .text-active:active {
  text-decoration: underline;
}

/* user profile modal */

#userProfileModal {
  position: fixed;
  width: 232px;
  border-radius: 4px;
  top: 82px;
  left: calc(100% - 13vw);
  transform: translateX(-50%);
  box-shadow: var(--modal-shadow);
  background-color: var(--color---base---white);
  animation: modalFadeIn 0.3s ease;
}

[data-theme="dark"] #userProfileModal {
  background-color: var(--color---dark-mode---neutral--neutral100);
  box-shadow: var(--dark-modal-shadow);
}

#userProfileModal::backdrop {
  background-color: var(--color---base---black);
  background-blend-mode: multiply;
  opacity: 0.3;
}

[data-theme="dark"] #userProfileModal::backdrop {
  background-color: var(--color---dark-mode---neutral--neutral0);
  background-blend-mode: screen;
  opacity: 0.4;
}

#userProfileModal .user-profile-container {
  padding: 1rem 0.75rem 0.5rem;
  gap: 0.5rem;

  & > a:focus-visible {
    outline: none;
  }
}

.user-profile-container .text-label-lg {
  color: var(--color---neutral--neutral40);
}

[data-theme="dark"] #userProfileModal .user-profile-container .text-label-lg {
  color: var(--color---dark-mode---neutral--neutral60);
}

#userProfileModal .navigation-container {
  border-top: 1px solid var(--color---neutral--neutral90);
  border-bottom: 1px solid var(--color---neutral--neutral90);
}

[data-theme="dark"] #userProfileModal .navigation-container {
  border-top: 1px solid var(--color---dark-mode---neutral--neutral90);
  border-bottom: 1px solid var(--color---dark-mode---neutral--neutral90);
}

.navigation-container li > a {
  padding: 10px 16px;
  gap: 0.25rem;
  transition: background-color 0.3s ease;
}

.navigation-container > li:first-child {
  position: relative;
}

.navigation-container > li:hover,
.navigation-container > li:focus {
  background-color: var(--color---neutral--neutral95);

  & a {
    color: var(--color---base---black);
  }
  & .notification-count {
    opacity: 0.8;
  }

  /* change the svg stroke to black */
  & .svg-stroke-black path {
    stroke: var(--color---base---black);
  }

  & .svg-fill-black path {
    fill: var(--color---base---black);
  }
}

[data-theme="dark"] .navigation-container > li:hover,
[data-theme="dark"] .navigation-container > li:focus {
  background-color: var(--color---dark-mode---neutral--neutral90);

  & a {
    color: var(--color---dark-mode---neutral--neutral20);
  }

  /* change the svg stroke to black */
  & .svg-stroke-black path {
    stroke: var(--color---dark-mode---neutral--neutral40);
  }

  & .svg-fill-black path {
    fill: var(--color---dark-mode---neutral--neutral40);
  }
}

.navigation-container li a {
  color: var(--color---neutral--neutral40);
}

[data-theme="dark"] .navigation-container li a {
  color: var(--color---dark-mode---neutral--neutral60);
}

.navigation-container li .notification-count {
  position: absolute;
  right: 16px;
  top: 50%;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  z-index: 100;
  padding: 0.05rem 0.25rem;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color---base---white);
  background-color: var(--color---base---error);
  cursor: default;
}

[data-theme="dark"] .navigation-container li .notification-count {
  background-color: var(--color---dark-mode---base---error);
}

#userProfileModal .log-out {
  padding: 10px 1rem;

  color: var(--color---neutral--neutral40);

  &:hover,
  &:active {
    color: var(--color---base---black);
  }
}

[data-theme="dark"] #userProfileModal .log-out {
  color: var(--color---dark-mode---neutral--neutral60);

  &:hover {
    color: var(--color---dark-mode---neutral--neutral20);
  }
}

#userProfileModal .user-profile-container:hover,
#userProfileModal .user-profile-container:active,
#userProfileModal .log-out:hover,
#userProfileModal .log-out:active {
  background-color: var(--color---neutral--neutral90);
}

[data-theme="dark"] #userProfileModal .user-profile-container:hover,
[data-theme="dark"] #userProfileModal .user-profile-container:active,
[data-theme="dark"] #userProfileModal .log-out:hover,
[data-theme="dark"] #userProfileModal .log-out:active {
  background-color: var(--color---dark-mode---neutral--neutral90);

  & .text-label-lg {
    color: var(--color---dark-mode---neutral--neutral20);
  }
}

#userProfileModal .modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--color---neutral--neutral95);
}

[data-theme="dark"] #userProfileModal .modal-footer {
  background-color: var(--color---dark-mode---neutral--neutral99);
}

.modal-footer .link {
  font-size: 10px;
  line-height: 1rem;
  font-weight: 400;
  color: var(--color---neutral--neutral50);
}

[data-theme="dark"] .modal-footer .link {
  color: var(--color---dark-mode---neutral--neutral60);
}

.modal-footer .link:hover {
  color: var(--color---neutral--neutral40);
}

[data-theme="dark"] .modal-footer .link:hover {
  color: var(--color---dark-mode---neutral--neutral50);
}

.modal-footer span {
  padding: 0px 0.125rem;
}

/* faked user login page */
.faked-user-login-section {
  margin-top: 100px;
}

/* home page */
.home-page-body {
  margin-top: 100px;
  background-color: var(--color---neutral--neutral95);
  min-height: 100vh;
  padding-top: 24px;
  padding-bottom: 48px;
}

[data-theme="dark"] .home-page-body {
  background-color: var(--color---dark-mode---neutral--neutral95);
}

.search-bar .create-post-card {
  align-items: center;
  gap: 24px;
}

.create-post-card > .buttonopen {
  width: 100%;
}

.create-post-container {
  align-items: center;
  width: 100%;
  gap: 8px;
  color: var(--color---neutral--neutral50);
  border-radius: 12px;
  border: 1px solid var(--color---neutral--neutral70);
  cursor: text;
}

[data-theme="dark"] .create-post-container {
  color: var(--color---dark-mode---neutral--neutral50);
  border: 1px solid var(--color---dark-mode---neutral--neutral70);
}

/* post card */

.post-card-container .card {
  gap: 24px;
}

.post-card__user-info-container .user-info.text .text-label-lg {
  font-weight: 600;
}

.post-card__user-info-container {
  position: relative;
}

.post-card__react-count-container {
  gap: 12px;
  color: var(--color---neutral--neutral40);
  padding-bottom: 9px;
  border-bottom: 1px solid var(--color---neutral--neutral80);
}

[data-theme="dark"] .post-card__react-count-container {
  color: var(--color---dark-mode---neutral--neutral60);
  border-bottom: 1px solid var(--color---dark-mode---neutral--neutral90);
}

.post-card__post-comment-container {
  cursor: default;
}

.comment-container .comment {
  min-width: fit-content;
  width: auto;
  padding: 8px 16px 12px 16px;
  border-radius: 12px;
  background-color: var(--color---neutral--neutral95);
}

[data-theme="dark"] .comment-container .comment {
  background-color: var(--color---dark-mode---neutral--neutral99);
}

.comment-container .avatar-container {
  position: relative;
  min-width: fit-content;
}

.comment-container .reply-avatar-container::before {
  content: "";
  position: absolute;
  top: var(--before-top);
  left: -50%;
  height: var(--before-height);
  width: 16px;
  border-bottom-left-radius: 8px;
  border-left: 2px solid var(--color---neutral--neutral90);
  border-bottom: 2px solid var(--color---neutral--neutral90);
  z-index: 1;
}

[data-theme="dark"] .comment-container .reply-avatar-container::before {
  border-left: 2px solid var(--color---dark-mode---neutral--neutral90);
  border-bottom: 2px solid var(--color---dark-mode---neutral--neutral90);
}

.comment-container .comment-react-container {
  align-self: start;
  gap: 8px;
}

.comment-container .comment-react-container .link:hover {
  color: var(--color---base---active);
  text-decoration: none;
}

[data-theme="dark"] .comment-container .comment-react-container .link:hover {
  color: var(--color---dark-mode---base---active);
}

.comment-container .comment-header .replied-user {
  color: var(--color---neutral--neutral50);
}

[data-theme="dark"] .comment-container .comment-header .replied-user {
  color: var(--color---dark-mode---neutral--neutral60);
}

.comment-container .comment-info {
  gap: 10px;
}

.comment-container .reply {
  cursor: text;
}

.comment-container .reply:focus {
  background-color: var(--color---base---white);
  outline: none;
}

[data-theme="dark"] .comment-container .reply:focus {
  background-color: var(--color---dark-mode---neutral--neutral100);
}

.comment-container .editing {
  cursor: auto;
  background-color: var(--color---base---white);
  border-radius: 12px;
  border: 1px solid var(--color---neutral--neutral40);
}

[data-theme="dark"] .comment-container .editing {
  background-color: var(--color---dark-mode---neutral--neutral100);
  border: 1px solid var(--color---dark-mode---neutral--neutral40);
}

.comment-container .comment-info > :not(:first-child),
.comment-container .comment-header .user-interaction-container {
  cursor: pointer;
}

.comment-container .comment-info .comment-delete:hover,
.comment-container .comment-header .comment-delete:active {
  text-decoration: none;
  font-weight: 600;
  color: var(--color---base---error);
}

[data-theme="dark"] .comment-container .comment-info .comment-delete:hover,
[data-theme="dark"] .comment-container .comment-info .comment-delete:active {
  color: var(--color---dark-mode---base---error);
}

.comment-container .comment-header .user-interaction-container__reply:hover,
.comment-container .comment-header .user-interaction-container__reply:active {
  text-decoration: none;
  color: var(--color---base---black);
  & .replied-user {
    color: var(--color---base---gray);
  }
}

[data-theme="dark"]
  .comment-container
  .comment-header
  .user-interaction-container__reply {
  color: var(--color---dark-mode---neutral--neutral40);
}

[data-theme="dark"]
  .comment-container
  .comment-header
  .user-interaction-container__reply:hover,
[data-theme="dark"]
  .comment-container
  .comment-header
  .user-interaction-container__reply:active {
  & .replied-user {
    color: var(--color---dark-mode---neutral--neutral40);
  }
}

.post-card__post-comment-container .view-more-reply {
  margin-top: -0.25rem;
  margin-bottom: 1rem;
  gap: 8px;
  align-items: center;
}

.post-card__post-comment-container .view-more-reply img {
  margin-left: 5.25rem;
}

.post-card__add-comment-container {
  gap: 12px;
}

.post-card__add-comment-container-form {
  margin-bottom: 1rem;
}

.post-card__add-comment-container .form-control button {
  position: absolute;
  top: 11px;
  right: 10px;
  height: auto;
}

/* create-post-modal */
#createTagModal,
#editTagModal {
  position: fixed;
  width: 936px;
  height: fit-content;
  max-height: 100vh;
  border-radius: 4px;
  top: 50vh;
  left: 50%;
  overflow-x: hidden;
  transform: translate(-50%, -50%);
  box-shadow: var(--modal-shadow);
  background-color: var(--color---base---white);
  animation: modalFadeIn 0.3s ease;
}

[data-theme="dark"] #createTagModal,
[data-theme="dark"] #editTagModal {
  background-color: var(--color---dark-mode---neutral--neutral100);
  box-shadow: var(--dark-modal-shadow);
}

#createTagModal::backdrop,
#editTagModal::backdrop {
  background-color: var(--color---base---black);
  background-blend-mode: multiply;
  opacity: 0.6;
}

[data-theme="dark"] #createTagModal::backdrop,
[data-theme="dark"] #editTagModal::backdrop {
  background-color: var(--color---dark-mode---neutral--neutral0);
  background-blend-mode: screen;
  opacity: 0.3;
}

#signUpForm .error-message,
#createPostCard .error-message,
#editPostCard .error-message,
#createTagModal .error-message,
#editTagModal .error-message {
  cursor: default;
  color: var(--color---alert---error);
}
[data-theme="dark"] #signUpForm .error-message,
[data-theme="dark"] #createPostCard .error-message,
[data-theme="dark"] #editPostCard .error-message,
[data-theme="dark"] #createTagModal .error-message,
[data-theme="dark"] #editTagModal .error-message {
  cursor: default;
  color: var(--color---dark-mode---base---error);
}

.post-form-container {
  position: relative;
}

.post-form-container input {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;
  cursor: text;
  outline: none;
}

.post-form-container input#postTitle {
  width: 80%;
}

.post-form-container .upload-image-container {
  align-items: center;
}

.post-form-container .upload-image-container .upload-image-info {
  color: var(--color---neutral--neutral50);
}

[data-theme="dark"]
  .post-form-container
  .upload-image-container
  .upload-image-info {
  color: var(--color---dark-mode---neutral--neutral60);
}

.post-tag__menu-dropdown-button {
  border-radius: 8px;
  border: 2px dashed var(--color---neutral--neutral70);
  background-color: var(--color---neutral--neutral95);
  color: var(--color---neutral--neutral20);

  &:hover {
    background-color: var(--color---neutral--neutral80);
  }
}

[data-theme="dark"] .post-tag__menu-dropdown-button {
  background-color: var(--color---dark-mode---neutral--neutral99);
  color: var(--color---dark-mode---neutral--neutral20);

  &:hover {
    background-color: var(--color---dark-mode---neutral--neutral90);
  }
}

.post-tag-dropdown {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: calc(100% + 0.5rem);
  background-color: #f9f9f9;
  min-width: 230px;
  z-index: 600;
  max-height: 280px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color---neutral--neutral70);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color---neutral--neutral99);
  }
}

[data-theme="dark"] .dropdown-content {
  background-color: var(--color---dark-mode---neutral--neutral100);

  &::-webkit-scrollbar-thumb {
    background-color: var(--color---dark-mode---neutral--neutral80);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color---dark-mode---neutral--neutral95);
  }
}

.dropdown-content input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-content ul li:hover {
  background-color: var(--color---neutral--neutral90);
}

[data-theme="dark"] .dropdown-content ul li:hover {
  background-color: var(--color---dark-mode---neutral--neutral90);
}

.dropdown-content ul li.selected {
  background-color: var(--color---neutral--neutral80);
}

[data-theme="dark"] .dropdown-content ul li.selected {
  background-color: var(--color---dark-mode---neutral--neutral80);
}

.dropdown-content ul li input[type="checkbox"] {
  margin-right: 10px;
}

[data-theme="dark"] .dropdown-content ul li input[type="checkbox"] {
  background-color: var(--color---dark-mode---neutral--neutral100);
}

.show {
  display: block;
}

.badge-container .post-tag__edit {
  cursor: pointer;
}

.badge {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
}

#createPostSubmitButton:disabled,
#editPostSubmitButton:disabled,
#createPostCancelButton:disabled,
#editPostCancelButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* create and edit tag modal */
.create-tag-modal-container .user-info-container {
  align-items: center;
  height: fit-content;
}

.create-tag-modal-container .user-info-container .text-label-lg {
  font-weight: 700;
}

.create-tag-modal-container .title-input {
  width: 100%;
  border: 1px solid transparent;
}

.create-tag-modal-container .content-form-control {
  align-items: start;
  gap: 4px;
  width: 100%;
}
.create-tag-modal-container .content-form-control .comment-input {
  border-radius: 12px;
}

.post-card form#createPostForm,
.post-card form#editPostForm {
  width: 100%;
}

/* community guideline */
.community-guideline-container {
  margin-top: 100px;
  width: 744px;
  gap: 32px;
}

.community-guideline-container .heading {
  border-bottom: 2px solid var(--color---neutral--neutral90);
}

.community-guideline-container .community-guideline-body {
  gap: 24px;
}

.community-guideline-container .small-container > *:first-child {
  font-weight: bold;
}

.community-guideline-container .community-guideline-intro {
  font-weight: 500;
}

.community-guideline-container .submit-button-container {
  display: flex;
  justify-content: end;
}

.community-guideline-container .checkbox-container {
  justify-content: start;
}

.community-guideline-container .checkbox-label {
  font-weight: 500;
}

.community-guideline-container #community-guideline-ending,
.community-guideline-container #community-guideline-welcome-message {
  font-weight: 400;
}

.community-guideline-container #submitButton:disabled {
  background-color: var(--color---neutral--neutral80);
}

/* post detail page */
.post-detail-page-body {
  margin-top: 100px;
  min-height: 100vh;
  background-color: var(--color---neutral--neutral95);
  padding-top: 24px;
  padding-bottom: 48px;
}

[data-theme="dark"] .post-detail-page-body {
  background-color: var(--color---dark-mode---neutral--neutral95);
}

/* user info */
.user-info-section {
  margin-top: 100px;
}

.user-info-section .user-info-container .user-info {
  align-items: center;
}

.user-info-section .user-info-container .edit-avatar {
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    text-decoration: underline;
  }
}

.user-info-section .user-content-container {
  padding-bottom: -2px;
  border-bottom: 2px solid var(--color---neutral--neutral90);
  padding-bottom: 1rem;
}

[data-theme="dark"] .user-info-section .user-content-container {
  border-bottom: 2px solid var(--color---dark-mode---neutral--neutral90);
}

.user-info-section .user-content-container a:hover,
.user-info-section .user-content-container a:focus,
.user-info-section .user-content-container .active {
  text-decoration: underline;
  text-underline-offset: 23px;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}

.user-info-section .rejected-page-info {
  color: var(--color---base---active);
}

[data-theme="dark"] .user-info-section .rejected-page-info {
  color: var(--color---dark-mode---base---active);
}

#avatarForm .recommend-dimension {
  align-self: flex-end;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color---neutral--neutral60);
}

[data-theme="dark"] #avatarForm .recommend-dimension {
  color: var(--color---dark-mode---neutral--neutral60);
}

/* Style for FAQ Section */
.faq-section {
  margin-top: 100px;
  padding-top: 4rem;
  text-align: center;
  overflow-x: hidden;
}

.faq-text {
  font-size: 24px;
  position: relative;
}

.faq-text h2 {
  display: inline;
}

.faq-text p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -25px; /* Adjust the position of the line */
}

.faq-box {
  font-family: "Times New Roman", Times, serif; /* Change font to Times New Roman */
  width: 60%; /* Adjust the width as needed */
  margin: 20px auto; /* Center align and add margin */
  border: 2px solid #ccc; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  box-sizing: border-box;
  text-align: left; /* Align text to the left */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: border-color 0.3s; /* Smooth transition for border color change */
  background-color: #f9f9f9; /* Light gray background color */
}

[data-theme="dark"] .faq-box {
  background-color: var(--color---dark-mode---neutral--neutral99);
  border: 2px solid var(--color---dark-mode---neutral--neutral90);
}

.faq-box:hover {
  border-color: #555; /* Darker border color on hover */
}

[data-theme="dark"] .faq-box:hover {
  border-color: var(--color---dark-mode---neutral--neutral70);
}

.faq-question {
  font-size: 18px; /* Question font size */
  margin-bottom: 10px; /* Add space below the question */
}

.faq-answer-box {
  padding: 10px;
  background-color: #eaeaea; /* Lighter background color for answers */
  border: 1px solid #ccc; /* Border color */
  border-radius: 8px; /* Rounded corners */
  display: none; /* Initially hide the answer */
}

[data-theme="dark"] .faq-answer-box {
  background-color: var(--color---dark-mode---neutral--neutral90);
  border: 1px solid var(--color---dark-mode---neutral--neutral90);
}

.faq-answer {
  font-size: 16px; /* Answer font size */
}

.faq-box.active .faq-answer-box {
  display: block; /* Show answer when active */
}

.btn-FAQ {
  position: fixed;
  bottom: 10px;
  right: 10px; /* 调整这里的值来控制按钮距离右边的距离 */
  display: inline-block;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color---base---active);
  color: var(--color---base---white);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

[data-theme="dark"] .btn-FAQ {
  background-color: var(--color---dark-mode---base---active);
}

.btn-FAQ:hover,
.btn-FAQ:focus,
.btn-FAQ:active {
  background-color: var(--color---base---active-hover);
  opacity: 0.8;
}

[data-theme="dark"] .btn-FAQ:hover,
[data-theme="dark"] .btn-FAQ:focus,
[data-theme="dark"] .btn-FAQ:active {
  background-color: var(--color---dark-mode---base---active-hover);
}

.reserve-element.comment-form .cancel-button {
  margin-top: -0.75rem;
}

/* notification */
.notification-section {
  position: relative;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
}

[data-theme="dark"] .notification-section {
  background-color: var(--color---dark-mode---neutral--neutral100);
}

.notification-section .filter-container {
  width: 264px;
  height: 100%;
  position: sticky;
  top: 120px;
}

.notification-section .filter-heading {
  border-bottom: 2px solid var(--color---neutral--neutral90);
}

[data-theme="dark"] .notification-section .filter-heading {
  border-bottom: 2px solid var(--color---dark-mode---neutral--neutral90);
}

.notification-section .notification-heading {
  width: 100%;
  border-bottom: 2px solid var(--color---neutral--neutral90);
  height: auto;
  align-items: flex-end;
}

[data-theme="dark"] .notification-section .notification-heading {
  border-bottom: 2px solid var(--color---dark-mode---neutral--neutral90);
}

.filter-category-container .filter-category-item {
  position: relative;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.filter-category-container .filter-category-item:hover,
.filter-category-container .filter-category-item__active {
  background-color: var(--color----base---light--blue);

  color: var(--color---base---active);
  font-weight: 700;
}

.filter-category-container .notification-count {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  padding: 0px 0.25rem;
}

.notification-section .notification-container {
  width: 100%;
}

.notification-content-container .notification-reply:hover,
.notification-content-container .notification-reply:focus,
.notification-content-container .notification-comment-on-post:hover,
.notification-content-container .notification-comment-on-post:focus,
.notification-content-container .notification-post-status:hover,
.notification-content-container .notification-post-status:focus {
  background-color: var(--color---neutral--neutral80);
  border-radius: 4px;

  & .divider {
    background-color: var(--color---neutral--neutral70);
  }
}

[data-theme="dark"] .notification-content-container .notification-reply:hover,
[data-theme="dark"] .notification-content-container .notification-reply:focus,
[data-theme="dark"]
  .notification-content-container
  .notification-comment-on-post:hover,
[data-theme="dark"]
  .notification-content-container
  .notification-comment-on-post:focus,
[data-theme="dark"]
  .notification-content-container
  .notification-post-status:hover,
[data-theme="dark"]
  .notification-content-container
  .notification-post-status:focus {
  background-color: var(--color---dark-mode---neutral--neutral90);

  & .divider {
    background-color: var(--color---dark-mode---neutral--neutral80);
  }
}

.notification-content-container .notification-reply,
.notification-content-container .notification-comment-on-post,
.notification-content-container .notification-post-status {
  display: flex;
  padding: 0.75rem 1rem;
  gap: 0.75rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color---neutral--neutral95);
}

[data-theme="dark"] .notification-content-container .notification-reply,
[data-theme="dark"]
  .notification-content-container
  .notification-comment-on-post,
[data-theme="dark"] .notification-content-container .notification-post-status {
  background-color: var(--color---dark-mode---neutral--neutral99);
}

.notification-content-container .notification-post-status {
  padding: 1.5rem 2rem 2rem;
}

.notification-content-container .reply-container {
  width: 100%;
}

.notification-content-container .reply-heading {
  height: auto;
}

.notification-content-container .notification-reply .replied-user {
  color: var(--color---neutral--neutral50);
}

[data-theme="dark"]
  .notification-content-container
  .notification-reply
  .replied-user {
  color: var(--color---dark-mode---neutral--neutral60);
}

.notification-content-container .post-heading .post-heading__main {
  align-items: center;
}

.post-heading .post-heading__main .date {
  display: flex;
  margin-top: 0.5rem;
}

.notification-content-container .notification-comment-on-post .divider {
  display: block;
  height: 2px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  width: calc(100% + 2rem);
  background-color: var(--color---neutral--neutral80);
}

[data-theme="dark"]
  .notification-content-container
  .notification-comment-on-post
  .divider {
  background-color: var(--color---dark-mode---neutral--neutral90);
}

.notification-content-container .read {
  background-color: var(--color---base---white);
  border-bottom: 1px solid var(--color---neutral--neutral80);
  border-radius: 0px;

  & .divider {
    background-color: var(--color---neutral--neutral95);
  }
}

[data-theme="dark"] .notification-content-container .read {
  background-color: var(--color---dark-mode---neutral--neutral100);
  border-bottom: 1px solid var(--color---dark-mode---neutral--neutral90);

  & .divider {
    background-color: var(--color---dark-mode---neutral--neutral99);
  }
}

/* admin */
.admin-section {
  margin-top: 100px;
  min-height: calc(100vh - 100px);
}

[data-theme="dark"] .admin-section {
  background-color: var(--color---dark-mode---neutral--neutral100);
}

.admin-section .filter-container {
  width: 264px;
  height: 100%;
  position: sticky;
  top: 120px;
}

.admin-section .filter-heading {
  border-bottom: 2px solid var(--color---neutral--neutral90);
}

.admin-section .admin-heading {
  width: 100%;
  border-bottom: 2px solid var(--color---neutral--neutral90);
  height: auto;
  align-items: flex-end;
}

.filter-container .tag-toggle {
  background-color: var(--color---neutral--neutral80);
}

[data-theme="dark"] .filter-container .tag-toggle {
  background-color: var(--color---dark-mode---neutral--neutral95);
}

.tag-toggle #adminPageCreateTagModalButton:hover {
  background-color: var(--color---neutral--neutral70);
  border-radius: 50%;
}

[data-theme="dark"] .tag-toggle #adminPageCreateTagModalButton:hover {
  background-color: var(--color---dark-mode---neutral--neutral80);
}

.tag-list-container .tag-list {
  background-color: var(--color---neutral--neutral95);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: translateY(-0.25rem);
}

[data-theme="dark"] .tag-list-container .tag-list {
  background-color: var(--color---dark-mode---neutral--neutral80);
}

.tag-list-container .tag-list.show {
  opacity: 1;
  max-height: 500px;
  transform: translateY(0);
}

.tag-list-container #adminPageTagListToggleButton svg {
  transform: rotate(0deg);
}

.tag-list-container #adminPageTagListToggleButton svg.rotate-down-90 {
  transform: rotate(90deg);
}

.tag-list-container .tag-list-content {
  flex-wrap: wrap;
}

.tag-list-container .tag-list-content .post-tag {
  cursor: pointer;
}

/* create and edit tag modal */
.create-tag-modal-container .user-info-container {
  align-items: center;
  height: fit-content;
}

.create-tag-modal-container .user-info-container .text-label-lg {
  font-weight: 700;
}

.create-tag-modal-container .title-input {
  width: 100%;
  border: 1px solid transparent;
}

.create-tag-modal-container .content-form-control {
  align-items: start;
  gap: 4px;
  width: 100%;
}
.create-tag-modal-container .content-form-control .comment-input {
  border-radius: 12px;
}

[data-theme="dark"] .create-tag-modal-container {
  color: var(--color---dark-mode---neutral--neutral40);
}

#createTagModal .title-input,
#editTagModal .title-input {
  width: 90%;
}

#createTagModal .color-swatch-container,
#editTagModal .color-swatch-container {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 32px;
  padding: 12px;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background-color: var(--color---neutral--neutral95);
  cursor: pointer;
}

[data-theme="dark"] #createTagModal .color-swatch-container,
[data-theme="dark"] #editTagModal .color-swatch-container {
  background-color: var(--color---dark-mode---neutral--neutral10);
}

#createTagModal .color-swatch,
#editTagModal .color-swatch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 24px;
  border-radius: 8px;
  background-color: black;
}

#createTagModal .color-input,
#editTagModal .color-input {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

/* admin - filter section */
.filter-container .toggle-heading-container {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  cursor: pointer;
}

.filter-category-container .filter-category-item {
  position: relative;
  padding: 8px 12px;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.filter-category-container .filter-category-item:hover,
.filter-category-container .filter-category-item__active {
  background-color: var(--color----base---light--blue);

  color: var(--color---base---active);
  font-weight: 700;
}

.filter-category-container .notification-count {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  padding: 0px 0.25rem;
}

.admin-section .admin-container {
  width: 100%;
}

.admin-content-container .reporting-comment,
.admin-content-container .approving-post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.75rem;
  background-color: var(--color---base---white);
  border-bottom: 1px solid var(--color---neutral--neutral80);
}

[data-theme="dark"] .admin-content-container .reporting-comment,
[data-theme="dark"] .admin-content-container .approving-post {
  background-color: var(--color---dark-mode---neutral--neutral99);
  border-bottom: 1px solid var(--color---dark-mode---neutral--neutral70);
}

.admin-content-container .approving-post {
  padding: 1.5rem 2rem 2rem;
}

.admin-content-container .reply-container {
  width: 100%;
}

.admin-content-container .reply-heading {
  height: auto;
}

.admin-content-container .post-heading .post-heading__main {
  align-items: center;
}

.post-heading .post-heading__main .date {
  display: flex;
  margin-top: 0.5rem;
}

.admin-content-container .action-button-container,
#createTagModal .action-button-container,
.post-card .action-button-container {
  justify-content: flex-end;
}

/* About Section Styles */
.about-section {
  margin-top: 100px;
  opacity: 0;
  animation: fadeInAbout 3s ease forwards;
}

@keyframes fadeInAbout {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-text {
  background-color: #92897d;
  color: white;
  font-size: 36px;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
  animation: fadeIn 2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-text p:first-child {
  font-size: 40px;
}

.about-text p:first-child::after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 10px auto;
}

/* Pic Description Section Styles */
.pic-description {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding-left: 20px;
  padding-right: 20px;
  animation: slideInLeft 1s ease;
}

.pic1 {
  width: 50%;
  object-fit: cover;
  animation: fadeIn 2s ease;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.pic-text {
  width: 40%;
  animation: fadeIn 2s ease;
}

.pic-text p {
  font-size: 24px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

[data-theme="dark"] .pic-text p {
  color: var(--color---dark-mode---neutral--neutral50);
}

.posts-text {
  font-size: 24px;
}

[data-theme="dark"] {
  --stroke-color: var(--stroke-color-dark);
}

[data-theme="light"] {
  --stroke-color: var(--stroke-color-light);
}

.post-not-found-text {
  position: absolute;
  top: 2.5rem;
  right: 11rem;
  z-index: 100;
}
