.svg-fill-gray path {
  fill: var(--color---neutral--neutral40);
}

[data-theme="dark"] .svg-fill-gray path {
  fill: var(--color---dark-mode---neutral--neutral50);
}

.svg-stroke-gray path {
  stroke: var(--color---neutral--neutral40);
}

[data-theme="dark"] .svg-stroke-gray path {
  stroke: var(--color---dark-mode---neutral--neutral50);
}

.bookmark-small {
  height: 14px;
  width: 14px;

  & path {
    stroke-width: 2;
  }
}

.bookmark.svg-fill-brown:hover path,
.bookmark.bookmarked path {
  stroke: var(--color---base---brown);
  fill: var(--color---base---brown);
}

[data-theme="dark"] .bookmark.svg-fill-brown:hover path,
[data-theme="dark"] .bookmark.bookmarked path {
  stroke: var(--color---dark-mode---base---brown);
  fill: var(--color---dark-mode---base---brown);
}

.svg-fill-blue:hover path,
.like.liked path {
  stroke: var(--color---base---active);
  fill: var(--color---base---active);
}

[data-theme="dark"] .svg-fill-blue:hover path,
[data-theme="dark"] .like.liked path {
  stroke: var(--color---dark-mode---base---active-hover);
  fill: var(--color---dark-mode---base---active-hover);
}

.search.svg-fill-blue path {
  fill: var(--color---base---active);
}

[data-theme="dark"] .search.svg-fill-blue path {
  fill: var(--color---dark-mode---base---active-hover);
}

.svg-fill-red:hover path {
  stroke: var(--color---base---error);
  fill: var(--color---base---error);
}

[data-theme="dark"] .svg-fill-red:hover path {
  stroke: var(--color---dark-mode---base---error);
  fill: var(--color---dark-mode---base---error);
}

.sent path {
  stroke: var(--color---base---active);
  fill: var(--color---base---active);
}

[data-theme="dark"] .sent path {
  stroke: var(--color---dark-mode---base---active-hover);
  fill: var(--color---dark-mode---base---active-hover);
}

.infinity-loading-spinner.svg-stroke-blue path {
  stroke: var(--color---base---active);
}

[data-theme="dark"] .infinity-loading-spinner.svg-stroke-blue path {
  stroke: var(--color---dark-mode---base---active-hover);
}

svg#mmuLogo {
  & path#firstBlueEdge,
  & path#secondBlueEdge,
  & path#firstMCharacter,
  & path#secondMCharacter {
    fill: #064fa3;
  }

  & path#redCircle,
  & path#UCharacter {
    fill: #ea2229;
  }
}

[data-theme="dark"] svg#mmuLogo {
  & path#firstBlueEdge,
  & path#secondBlueEdge,
  & path#firstMCharacter,
  & path#secondMCharacter {
    fill: var(--color---dark-mode---base---active-hover);
  }

  & path#redCircle,
  & path#UCharacter {
    fill: var(--color---dark-mode---base---error);
  }
}
