<dialog id="createPostModal" class="modal">
  <div class="flex flex-col gap-5 py-6 px-6 create-post-modal-container">
    <div class="text-headline-md">Create Post</div>
    <div class="flex user-info-container">
      {% with avatar_url=user.avatar_url, owner = user %}
        {% include "layouts/avatar.html" %}
      {% endwith %}
      <div class="flex flex-col gap-2  ml-3 user-info">
        <div class="text-label-lg">Anonymous_{{ user.anon_no }}</div>
        <div class="campus-tag">{{ user.campus.value }}</div>
      </div>
    </div>

    {# error message #}
    {% if createPostForm.errors %}
      {% for field, errors in createPostForm.errors.items() %}
        {% for error in errors %}
          <div
            id="createPostModalErrorMessage"
            class="text-label-lg error-message"
          >
            {{ error }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}

    {# form #}
    <form
      class="flex flex-col gap-4"
      action=""
      method="POST"
      enctype="multipart/form-data"
    >
      {{ createPostForm.hidden_tag() }}
      <div class="form-control">
        {{ createPostForm.title.label(class_ = 'text-title-md') }}
        {{ createPostForm.title(placeholder = 'Post title...', class_ = 'px-4 py-2 ml-3 title-input') }}
      </div>
      <div class="form-control">
        {{ createPostForm.tags.label(class_ = 'text-title-md') }}
        {{
          createPostForm.tags(
          id = 'tag',
          multiple = True,
          multiselect_search = 'true',
          multiselect_select_all = 'false',
          multiselect_max_items = '5',
          class_ = 'text-title-md')
        }}
      </div>
      <div class="form-control flex flex-col content-form-control">
        {{ createPostForm.content.label(class = 'text-title-md') }}
        {{
          createPostForm.content(
          id = 'contentField',
          placeholder = 'Add a content...',
          class_ = 'text-body-md px-4 py-2 commnet-input', rows = '6')
        }}
      </div>
      <div class="divider mt-4 mb-2"></div>

      <footer class="flex flex-between">
        <div class="flex upload-image-container">
          <button
            type="button"
            id="uploadImageIcon"
            class="inline-flex flex-center"
          >
            <img
              src="{{ url_for('static', filename = 'svg/upload-picture-black.svg') }}"
              alt="upload-picture-icon"
              class="icon"
            />
          </button>
          <div class="ml-2 show-image-url d-none">
            <a
              class="link"
              id="createPostModalShowImageLink"
              href=""
              target="_blank"
              >Show Image</a
            >
          </div>
          <div class="ml-2 link remove-image d-none">Remove image</div>
          {{
            createPostForm.image_url.label(
            class_ = 'hidden',
            )
          }}
          {{
            createPostForm.image_url(
            id = 'image',
            accept = 'image/*',
            class_ = 'hidden'
            )
          }}
        </div>
        <div class="action-button-container ">
          <button
            type="button"
            class="btn btn-muted buttonclose"
            id="createPostModalCloseButton"
          >
            Cancel
          </button>
          {{ createPostForm.submit(class_ = 'ml-2 btn') }}
        </div>
      </footer>
    </form>
  </div>
</dialog>

<script>
  const defaultUploadImagePath =
    '{{ url_for("static", filename="svg/upload-picture-black.svg") }}';
  const hoverUploadImagePath =
    '{{ url_for("static", filename="svg/upload-picture-blue.svg") }}';

  const uploadImageButton = document.querySelector("#uploadImageIcon img");

  uploadImageButton.addEventListener("mouseover", () => {
    uploadImageButton.src = hoverUploadImagePath;
  });

  uploadImageButton.addEventListener("mouseout", () => {
    uploadImageButton.src = defaultUploadImagePath;
  });
</script>
