<div class="card py-6 flex flex-col post-card" id="createPostCard">
  <div class="flex flex-col px-8">
    <div class="flex flex-between post-card__user-info-container">
      <div class="flex flex-center user-container">
        {% with avatar_url=user.avatar_url , owner = user %}
          {% include "layouts/avatar.html" %}
        {% endwith %}
        <div class="ml-6 flex flex-col">
          <div class="mb-1 flex flex-center user-info-text">
            <span class="text-label-lg">Anonymous_{{ user.anon_no }}</span>
            <div class="ml-2 campus-tag">{{ user.campus.value }}</div>
          </div>
          <div class="date">just now</div>
        </div>
      </div>
    </div>
  </div>

  {# post #}
  <form
    class="px-8 flex flex-col gap-4 post-form-container"
    action=""
    method="POST"
    enctype="multipart/form-data"
    id="createPostForm"
  >
    {# error message #}
    <div class="text-label-lg error-message">Error message</div>
    <div class="flex flex-col post-card__post-preview-container">
      <div class="mb-4 form-container">
        <label for="postTitle" class="d-none"></label>
        <input
          type="text"
          id="postTitle"
          name="title"
          class="text-title-lg"
          placeholder="Post Title..."
          autofill="off"
        />
      </div>

      {# todo: fix position of the modal #}
      {# post tags #}
      <div class="mb-2 flex post-tag-container post-tag-dropdown">
        <div class="badge-container" id="PostTagBadgeContainer"></div>
        <div class="dropdown-menu" id="PostTagDropDownMenu"></div>
        <button
          type="button"
          class="text-label-sm post-tag post-tag__menu-dropdown-button"
          id="PostTagDropDownButton"
        >
          Add Tag (Max 5 Tags)
        </button>
        <div class="dropdown-content shadow-card d-none">
          <input
            type="text"
            placeholder="Search..."
            id="PostTagDropDownSearch"
          />
          <ul id="PostTagDropDownList">
            {% for tag in tags %}
              <li class="text-label-sm post-tag__menu-dropdown-item">
                <input
                  type="checkbox"
                  id="tag-{{ tag.id }}"
                  value="{{ tag.name }}"
                />
                <label for="tag-{{ tag.id }}">{{ tag.name }}</label>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      {# post content #}
      <div class="mb-4 form-container">
        <label for="postContent" class="d-none"></label>
        <textarea
          name="content"
          id="postContent"
          class="py-1 text-body-lg"
          placeholder="Post content..."
          rows="1"
        ></textarea>
      </div>

      {# upload image field #}
      <div class="form-container">
        <div class="image-upload-container">
          <div
            class="create-post-preview-image-cont
          ainer"
            id="createPostPreviewImageContainer"
          >
            <img src="" alt="preview image" class="d-none" />
          </div>
          <input
            type="file"
            id="createPostUploadImageInput"
            accept="image/*"
            class="d-none"
            name="image"
          />
          <div class="flex gap-2 upload-image-container">
            <button type="button" id="createPostUploadImagebutton" class="link">
              Upload Image
            </button>
            <span class="text-label-sm upload-image-info"
              >(only one picture is allowed)</span
            >
          </div>
          <button
            type="button"
            class="link d-none"
            id="createPostRemoveImageButton"
          >
            Remove Image
          </button>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <footer>
      <div class="flex gap-3 action-button-container">
        <button
          type="button"
          class="btn btn-muted buttonclose "
          id="createPostCancelButton"
        >
          Cancel
        </button>
        <button type="submit" class="btn" id="createPostSubmitButton">
          Create
        </button>
      </div>
    </footer>
  </form>
</div>
