<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title> Welcome to MMU Confession</title>

    {# meta #}
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {# styles #}
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'styles/landing.css' )}}" >
</head>
<body>
    <header>
        <h1 class="home-title">WELCOME TO <span class="mmu-m" style="color: blue;">MM</span><span class="mmu-u" style="color: red;">U</span> Confession</h1>
    </header>

    <a href="profile.html" class="circle">Profile</a>
    <div class="divider"></div>
</body>
<body>
    <table class = "hometable">
        
        <tr>
            <th><a href=".html"><img src="home.png" alt="HOME"></a></th>
            <th><a href=".html"><img src="notification.png" alt="RING"></a></th>
            <th><a href=".html"><img src="help.png" alt="HELP"></a></th>
            <th>
                <div class="search-container">
                    <form id="searchForm">
                        <label for="searchInput"></label>
                        <input type="text" id="searchInput" name="searchInput" class="search-input">
                        <button type="button" onclick="performSearch()" class="search-button">Search</button>
                    </form>
                </div>
            </th>
            <th><a href="index.html"><img src="logout.png" alt="LOGOUT"></a></th>
        </tr>
    </table>
    <div class="divider"></div>

    <script>
        function performSearch() {
            var searchInput = document.getElementById("searchInput").value.trim();
            // Your search logic here
            console.log("Performing search for: " + searchInput);
        }
    </script>
</html>