{% extends "layouts/loginedBase.html" %}

{% block title %}Admin{% endblock title %}

{% block content %}
  <section class="container flex gap-6 py-12 bg-white admin-section">
    {# filter column #}
    <div class="flex flex-col gap-5 filter-container">
      <div class="px-3 filter-heading">
        <h2 class="text-headline-sm">Filters</h2>
      </div>
      <ul class="flex flex-col gap-1 filter-category-container text-label-lg">
        <li
          class="transition-medium filter-category-item {{ 'filter-category-item__active' if request.args.get('filter') == 'all' else '' }}"
          id="adminPageAllFilter"
        >
          All
          <div
            class="notification-count {{ 'd-none' if adminNotificationsAgg.allAdminNotifications == 0 else '' }}"
            id="adminPageAllCount"
          >
            {{ "99+" if adminNotificationsAgg.allAdminNotifications > 99 else adminNotificationsAgg.allAdminNotifications }}
          </div>
        </li>
        <li
          class="transition-medium filter-category-item
        {{ 'filter-category-item__active' if request.args.get('filter') == 'approving-posts' else '' }}
        "
          id="adminPageApprovingPostsFilter"
        >
          Approving posts
          <div
            class="notification-count {{ 'd-none' if adminNotificationsAgg.approvingPosts == 0 else '' }}"
            id="adminPageApprovingPagesCount"
          >
            {{ "99+" if adminNotificationsAgg.approvingPosts > 99 else adminNotificationsAgg.approvingPosts }}
          </div>
        </li>
        <li
          class="transition-medium filter-category-item
        {{ 'filter-category-item__active' if request.args.get('filter') == 'reporting-comments' else '' }}
        "
          id="adminPageReportingCommentsFilter"
        >
          Reporting comments
          <div
            class="notification-count {{ 'd-none' if adminNotificationsAgg.reportingComments == 0 else '' }}"
            id="adminPageReportingCommentsCount"
          >
            {{ "99+" if adminNotificationsAgg.reportingComments > 99 else adminNotificationsAgg.reportingComments }}
          </div>
        </li>
      </ul>

      <div class="tag-list-container">
        <div class="flex flex-between py-2 px-3 tag-toggle">
          <div
            class="transition-slow toggle-heading-container"
            id="adminPageTagListToggleButton"
          >
            {% include "svgs/chevron-right.html" %}
            <div class="text-headline-sm">Tags</div>
          </div>
          <button
            type="button"
            class="inline-flex flex-center px-2 py-1 transition-fast"
            id="adminPageCreateTagModalButton"
          >
            {% include "svgs/plus.html" %}
          </button>
        </div>
        <div class="tag-list transition-medium" id="adminPageTagToggleList">
          <ul class="flex p-2 pb-3 gap-2 tag-list-content">
            {% for tag in tags %}
              <li
                class="post-tag post-tag-lg"
                id="{{ tag.id }}"
                style="background-color: {{ tag.color }};"
              >
                {{ tag.name }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    {# admin column #}
    <div class="admin-container">
      <div class="flex flex-between px-3 admin-heading">
        <div>
          <h2 class="text-headline-sm">Approvals</h2>
        </div>
      </div>

      {# reporting comments and approving posts #}
      <div
        class="flex flex-col gap-5 py-5 admin-content-container"
        id="adminPageAdminContentContainer"
      >
        {% include "admin/adminList.html" %}
        <div class="flex flex-center loading-container d-none">
          {% include "svgs/infinity-loading-spinner.html" %}
        </div>
      </div>
    </div>

    {# create tag modal #}
    {% include "admin/createTagModal.html" %}
    {% include "admin/editTagModal.html" %}
  </section>
{% endblock content %}
