{% extends "layouts/base.html" %}

{% block title %}
  Posts
{% endblock title %}

{% block content %}
  <section class="container flex flex-col gap-16 py-12 user-info-section">
    <div class="flex gap-6 user-info-container">
      {% with avatar_url=user.avatar_url, class = 'avatar-lg', owner = user %}
        {% include "layouts/avatar.html" %}
      {% endwith %}
      <div class="flex flex-col">
        <div class="flex gap-4 user-info">
          <h2 class="text-headline-sm">Anonymous_{{ user.anon_no }}</h2>
          <div class="campus-tag">{{ user.campus.value }}</div>
        </div>
        <form
          action="{{ url_for('me.index') }}"
          method="post"
          enctype="multipart/form-data"
          class="flex gap-2"
          id="avatarForm"
        >
          <!-- CSRF token -->
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <button type="button" class="text-label-lg edit-avatar">
            Edit avatar
          </button>
          <div class="recommend-dimension">Recomend dimension 40 x 40</div>
          <input
            type="file"
            name="avatar"
            accept="image/*"
            id="avatar"
            class="hidden"
          />
          <label for="avatar" class="hidden">Avatar</label>
          <input
            type="submit"
            value="Upload Avatar"
            id="avatarSubmitButton"
            style="display: none;"
          />
        </form>
      </div>
    </div>
    <div class="flex flex-col gap-6 me-page-navigation-container">
      <nav class="user-content-container">
        <ul class="flex gap-8 text-headline-sm">
          <li class="user-content-item">
            <a
              href="{{ url_for('me.posts') }}"
              class="link
          {{ 'active' if request.path == url_for('me.posts') }}
          "
              >{{ userAggInteraction.createdPosts }} Posts</a
            >
          </li>
          <li class="user-content-item">
            <a
              href="{{ url_for('me.likes') }}"
              class="link
          {{ 'active' if request.path == url_for('me.likes') }}
          "
              >{{ userAggInteraction.likedPosts }} Likes</a
            >
          </li>
          <li class="user-content-item">
            <a
              href="{{ url_for('me.replies') }}"
              class="link
          {{ 'active' if request.path == url_for('me.replies') }}
          "
              >{{ userAggInteraction.commentsAndReplies }} Replies</a
            >
          </li>
          <li class="user-content-item">
            <a
              href="{{ url_for('me.bookmarks') }}"
              class="link
          {{ 'active' if request.path == url_for('me.bookmarks') }}
          "
              >{{ userAggInteraction.bookmarkedPosts }} Bookmarks</a
            >
          </li>
          <li class="user-content-item">
            <a
              href="{{ url_for('me.rejected_posts') }}"
              class="link
          {{ 'active' if request.path == url_for('me.rejected_posts') }}
          "
              >{{ userAggInteraction.rejectedPosts }} Rejects</a
            >
          </li>
        </ul>
      </nav>
      {% if isRejected %}
        <div class="text-label-lg rejected-page-info">
          Tips: You can resubmit or delete the rejected post
        </div>
      {% endif %}
    </div>
    <div
      class="flex flex-col px-4 gap-12 posts-container"
      id="{{ postContainerId }}"
    >
      {% include "layouts/postCardList.html" %}
      <div class="flex flex-center loading-container d-none">
        {% include "svgs/infinity-loading-spinner.html" %}
      </div>
      {% with svgImage="svgs/mePageNoContent.html", notSourceHandlerMessages = notSourceHandlerMessages %}
        {% include "layouts/noResourceHandler.html" %}
      {% endwith %}
    </div>
  </section>
{% endblock content %}

{% block js %}
  <script type="text/javascript">
    const avatar = document.querySelector("#avatar");
    const editAvatar = document.querySelector(".edit-avatar");
    const submitButton = document.querySelector("#avatarSubmitButton");

    editAvatar.addEventListener("click", () => {
      avatar.click();
    });

    avatar.addEventListener("change", () => {
      const file = avatar.files[0];
      if (file) {
        submitButton.click();
      }
    });
  </script>
{% endblock js %}
