{% extends "layouts/base.html" %}

{% block title %}
  Welcome
{% endblock title %}

{% block content %}
  <div class="container" style="margin-top: 100px;">
    <div class="py-6 flex flex-col">
      <div class="text-display-lg">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-display-md">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-display-sm">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-headline-lg">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-headline-md">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-headline-sm">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-title-lg">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-title-md">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-title-sm">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-label-lg">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-label-md">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-label-sm">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-body-lg">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-body-md">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
      <div class="text-body-sm">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis,
        expedita?
      </div>
    </div>
  </div>
{% endblock content %}
